<div class="break">
  <div class="large-8 large-centered columns">
    <div class="row">
      <div class="large-12 columns">
        <%= link_to "Submit a pitch", new_itinerary_pitch_path(@itinerary), target: "_blank", class: "button small right radius" if current_user && current_user.is?("expert") && @pitch.blank? && !@itinerary.has_winner_pitch? %>
        <h3><%= @itinerary.extra_info[:name].blank? ? "Trip to " + @itinerary.destination : 
        @itinerary.extra_info[:name] %><%= link_to (current_user.voted_for?(@itinerary) ? (image_tag "bookmarked.png", style:"height:.8em; margin-top:-5px; margin-left:10px; opacity:0.8;", title: "Assigned") : (image_tag "bookmark.png", style:"height:.8em; margin-top:-5px; margin-left:10px; opacity:0.3;", title: "Assign")), toggle_star_itinerary_path(@itinerary), method: :post if current_user && current_user.is?("expert") %></h3>
      </div>

        
    </div>
      <p><em><%= image_tag "marker.png", style:"width:25px; opacity:0.8; margin-top:-6px;" %><a><%= @itinerary.destination %></a> for <%= @itinerary.duration %> days in <%= @itinerary.departure %><br>
      <%= image_tag "plane.png", style: "width:17px; opacity:0.7; margin:-6px 4px 0;" %> <%= @itinerary.extra_info[:travelers] %> are traveling with a budget of <%= @itinerary.extra_info[:budget] %> per person, per day</em></p>
    </ul>

    <% unless @itinerary.extra_info[:style].nil? %>
      <h5 class="subheader serif"><em>This trip, I'm on the hunt for some</em></h5>
      <ul class="sans skill-list">
        <% @itinerary.extra_info[:style].each do |s| %>
        <li><%= s %></li>
        <% end %>
      </ul>
    <% end %>

    <% unless @itinerary.extra_info[:details].blank? %>
      <h5 class="subheader serif"><em>Some additional deets about the trip</em></h5>
      <p style="margin-bottom:70px;"><%= @itinerary.extra_info[:details] %></p>
    <% end %>
    <hr>

  </div>
</div>
