<div id="sidebar">
	<%= image_tag "o-color.png", style: "height: 40px; margin-bottom: 20px;" %>
  <%= content_tag(:h5, @itinerary.extra_info[:name]) unless @itinerary.extra_info[:name].blank? %>
  <%= content_tag(:p, ("<strong>Destination:</strong> " + @itinerary.destination).html_safe) unless @itinerary.destination.blank? %>
  <%= content_tag(:p, ("<strong>Travelers:</strong> " + @itinerary.extra_info[:travelers]).html_safe) unless @itinerary.extra_info[:travelers].blank? %>
  <%= content_tag(:p, ("<strong>Duration:</strong> " + @itinerary.duration).html_safe) unless @itinerary.duration.blank? %>
  <%= content_tag(:p, ("<strong>Travel Dates:</strong> " + @itinerary.departure).html_safe) unless @itinerary.departure.blank? %>
  <%= content_tag(:p, ("<strong>Budget:</strong> " + @itinerary.extra_info[:budget]).html_safe) unless @itinerary.extra_info[:budget].blank? %>
  <%= content_tag(:p, ("<strong>Interested in:</strong> " + @itinerary.extra_info[:style].join(', ')).html_safe) unless @itinerary.extra_info[:style].blank? %>
  <%= content_tag(:p, ("<strong>Additional details:</strong> " + @itinerary.extra_info[:details]).html_safe) unless @itinerary.extra_info[:details].blank? %>
 <a href="#" class="toggle-sidebar close" title="Hide Trip Overview"><h5>&#9666;</h5></a>
</div>
