<%= content_for :left_col do %>
<h5>Your Trip, So Far:</h5>
Destination: <%= @itinerary.destination %>
<% end %>

<%= form_for @itinerary_details, url: itinerary_path, method: :put, html: { class: 'custom' } do |f| %>
<div class="row">
  <div class="large-5 columns">
    <%= f.label :departure, "When are you thinking about going?" %>
  </div>
  <div class="large-7 columns">
    <%= f.select :departure, options_for_select(get_date_options(12)) %>
  </div>
</div>

<div class="row">
  <div class="large-5 columns">
    <%= f.label :duration, "How many days were you thinking?" %>
  </div>
  <div class="large-7 columns">
    <%= f.select :duration, options_for_select(("3".."20").to_a) %>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <% if @itinerary_details.errors[:style].empty? %>
    <%= f.label :style, "What is your style of travel? *" %>
    <% else %>
    <%= f.label :style, "What is your style of travel? (#{@itinerary_details.errors[:style][0]})" %>
    <% end %>
    <%= f.fields_for :style do |styles| %>
    <ul class="small-block-grid-2 large-block-grid-3">
      <% @styles.each do |k,v| %>
      <li><%= styles.check_box k, checked: (@itinerary_details.style.blank? ? false : (@itinerary_details.style.include?(k) ? true : false)) %><%= k %></li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="large-4 large-offset-8 columns">
    <%= f.submit "Next", class: "radius large button expand right" %>
  </div>
</div>
<% end %>