<% set_page_title("Trip to " + @itinerary.destination + " - OutTrippin") %>
<div class="row top">
  <div class="large-11 large-centered columns">
    <div class="row">
      <div class="large-12 columns">
        <%= render 'steps', step: 'describe', disable: %w() %>
        <h3 class="text-center primary">Gidday Globetrotter, let's get to know each other first</h3>
        <h6 class="text-center"><em>This info is the fuel for a tailored travel story - designed just for you!</em></h6>
        <div class="large-4 large-centered small-12 columns">
          <hr>
        </div>
      </div>
    </div>

    <%= form_for @itinerary_details, url: itinerary_path, method: :put, html: { class: 'custom' } do |f| %>
    <div class="row">
      <div class="large-6 columns">
        <%= f.label :name, "Give your trip a spectacular name" %>
      </div>
      <div class="large-6 columns">
        <%= f.text_field :name, placeholder: "Our amazing adventure to Costa Rica!" %>
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <%= f.label :travelers, "Who's traveling?" %>
      </div>
      <div class="large-6 columns">
        <%= f.text_field :travelers, placeholder: "Nadia & Thomas" %>
      </div>
    </div>


    <div class="row">
      <div class="large-6 small-12 columns">
        <%= f.label :departure, " When are you going?" %>
      </div>
      <div class="large-6 small-12 columns">
        <%= f.select :departure, options_for_select(get_date_options(12)) %>
      </div>
    </div>

    <div class="row">
      <div class="large-6 small-12 columns">
        <%= f.label :duration, "For how many days? " %>
      </div>
      <div class="large-6 small-12 columns">
        <%= f.select :duration, options_for_select(("3".."15").to_a) %>
      </div>
    </div>

    <div class="row">
      <div class="large-12 small-12 columns">
        <% if @itinerary_details.errors[:style].empty? %>
        <%= f.label :style, "What is your style of travel? *" %>
        <% else %>
        <%= f.label :style, "What is your style of travel? (#{@itinerary_details.errors[:style][0]})" %>
        <% end %>
        <%= f.fields_for :style do |styles| %>
        <ul class="small-block-grid-1 large-block-grid-3">
          <% @styles.each do |k,v| %>
          <li><%= styles.check_box k, checked: (@itinerary_details.style.blank? ? false : (@itinerary_details.style.include?(k) ? true : false)) %><%= styles.label k, class: "cbox" %></li>
          <% end %>
        </ul>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="large-2 small-12 large-offset-10 columns">
        <%= f.submit "I'm Excited!", class: "radius expand button right" %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<%= content_for :body do %>
  <script>
  <% if current_user %>
    mixpanel.alias("<%= current_user.id %>");
  <% end %>
  mixpanel.track("Page Loaded", {"page": "Step 1: Details"});
  mixpanel.track_forms("#new_itinerary_details", "Entered Trip Details");
</script>
<% end %>