<% set_page_title("Dashboard - OutTrippin") %>
<style>
.cover { background-image:url('/assets/cover1.jpg'); height:200px; }
#overlay {height:200px;}
.header {top:60px;}
.tabs {top:160px;}
</style>
<div class="cover"></div>
<div id="overlay"></div>
<% if current_user.is?("expert") %>
<div class="header">
  <div class="row">
    <div class="small-12 large-10 small-centered columns">
      <h2 class="white">Storyteller's Dashboard</h2>
    </div>
  </div>
</div>
<div class="tabs">
  <div class="row">
    <div class="small-12 large-10 small-centered columns">
      <ul id="cover-tabs" class="inline-list cover-tabs text-center no-margin sans">
        <li><a href="#" id="slide0" class="active-tab">OPEN REQUESTS</a></li>
        <li><a href="#" id="slide1" >ASSIGNED REQUESTS</a></li>
        <li><a href="#" id="slide2" >PITCHED</a></li>
        <li><a href="#" id="slide3" >WON</a></li>
        <li><a href="#" id="slide4" >COMPLETED</a></li>
        <li><a href="#" id="slide5" >AS A TRAVELER</a></li>
      </ul>
      <hr style="border-color:white; margin-top:0;">
    </div>
  </div>
</div>
<div id="slide0-content">
  <%= render @itineraries %>
</div>


<div id="slide1-content">
  <% if @starred_itineraries.blank? %>
    <div class="small-12 break large-8 large-centered text-center columns">
      <h4 class="serif subheader black"><em>Your assignments folder is empty, but it doesn't have to be.</em><h4>
      <h5 class="serif subheader"><em>Click the <%= image_tag "bookmark.png", style:"height:.8em; margin-top:-5px; opacity:0.3;" %> icon to save a request to this folder.</em></h5>
    </div>
  <% else %>
    <%= render @starred_itineraries %>
  <% end %>
</div>

<div id="slide2-content">
  <% if @pitched_itineraries.blank? %>
    <!-- ADD SOME COPY FOR WHEN THIS IS BLANK -->
  <% else %>
    <%= render @pitched_itineraries %>
  <% end %>
</div>

<div id="slide3-content">
  <% if @won_itineraries.blank? %>
    <!-- ADD SOME COPY FOR WHEN THIS IS BLANK -->
  <% else %>
    <%= render @won_itineraries %>
  <% end %>
</div>

<% else %>
<div class="header">
  <div class="row">
    <div class="small-12 large-10 small-centered columns">
      <h2 class="white">Traveler's Dashboard</h2>
    </div>
  </div>
</div>
<div class="tabs">
  <div class="row">
    <div class="small-12 large-10 small-centered columns">
      <ul id="cover-tabs" class="inline-list cover-tabs text-center no-margin sans">
        <li><a href="#" id="slide0" class="active-tab">IN PROGRESS</a></li>
        <li><a href="#" id="slide1" >COMPLETED</a></li>
      </ul>
      <hr style="border-color:white; margin-top:0;">
    </div>
  </div>
</div>
<%= render @itineraries %>
<% end %>