<% set_page_title("…") %>

<%= content_for :left_col do %>
  <%= render 'itinerary_left_col' %>
<% end %>

<div class="row">
  <div class="large-12 columns">
    <%= render 'steps', step: 'pick', disable: %w(describe launch) %>
  </div>
</div>

<% if current_user.is?("expert") %>
  <%= render 'itineraries/show/expert' %>
<% else %>
  <%= render 'itineraries/show/owner' %>
<% end %>