<%= content_for :left_col do %>
  <%= render 'itinerary_left_col' %>
<% end %>
<%= content_for :body do %>
  <script>
  <% if current_user %>
    mixpanel.alias("<%= current_user.email %>");
    mixpanel.register({ Role: "<%= current_user.roles.join(', ') %>" });
    mixpanel.people.set({
        "Name": "<%= current_user.personal_info[:name] %>",
        "Roles": "<%= current_user.roles.join(', ') %>",
        "$email": "<%= current_user.email %>"
    });
  mixpanel.register_once({
    "Source": "OutTrippin"
  });
  <% end %>
</script>
<% end %>
<div class="cover"></div>
<div id="overlay"></div>
	<div class="header">
		<% if current_user && current_user.is?("expert") %>
		  <%= render 'itineraries/show/expert' %>
		<% else %>
		  <%= render 'itineraries/show/owner' %>
		<% end %>

