<footer>
  <div class="row">

    <div class="large-3 large-centered small-12 text-center columns">
      <%= image_tag 'o-color.png', style: "width: 110px; margin-top: -40px; margin-bottom: 0; background: #f3f3f3; padding: 5px 5px 35px; border-radius: 1000px;"%>
    </div>
    <div class="large-3 large-centered small-12 columns">
      <h6>Follow Us</h6>
      <%= link_to "http://facebook.com/outtrippin", target: "blank_" do %>
        <%= image_tag "facebook_40.png" %>
      <% end %>
      <%= link_to "http://twitter.com/outtrippin", target: "blank_" do %>
        <%= image_tag "twitter_40.png" %>
      <% end %>
      <%= link_to "http://pinterest.com/outtrippin", target: "blank_" do %>
        <%= image_tag "pinterest_40.png" %>
      <% end %>

    </div>
    <div class="large-6 short-break columns small-12 large-centered text-center">
    <a href="/register" class="tiny radius button" style="font-weight:normal!important;"> Become an OutTrippin Storyteller</span></a>
    <ul class="short-break inline-list footer">
      <li><%= link_to "Privacy Policy", page_path('privacy_policy'), class: "text" %></li>
      <li><%= link_to "Terms", page_path('terms_and_conditions'), class: "text" %></li>
      <li><%= link_to "Contact Us", "mailto:contact@outtrippin.com", class: "text" %></li>
      <li><%= link_to "Support", "http://support.outtrippin.com", target: "blank", class: "text" %>
    </ul>
    <p class="serif"><small><em>OutTrippin is made with love in Melbourne and Porto.</em></small></p>
  </div>
</footer>

