<nav class="top-bar">
  <ul class="title-area">
    <li class="sidebar-icon hide-for-medium-up"> <a href="#" class="toggle-sidebar" title="Show Trip Overview"><%= image_tag "compass.png" %></a>
    </li>
    <li class="name text-center">
      <%= link_to root_url do %>
        <%= image_tag (defined?(@white_topbar).nil? ? 'logo-white.png' : 'OutTrippin-logo.png'), style: "margin-top:21px; height:35px;" %>
      <% end %>
      <small class="<%= (defined?(@white_topbar).nil? ? 'white' : 'primary') %>"><em class="hide-for-small">BETA</em></small>
    </li>
    <li class="toggle-topbar menu-icon"><a href=""><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <%= render 'layouts/parts/topbar/right_menu' %>
  </section>
</nav>