<% set_page_title((@user.name.nil? ? "" : @user.name + " - ") + "OutTrippin Storyteller") %>
<div class="expert-cover"></div>
<div class="avatar-container">
  <%= image_tag @user.avatar.url(:thumb), class: "avatar top" %>
  <%= form_tag user_update_avatar_path(@user), method: :put, id: "update-avatar", multipart: true do %>
    <%= label_tag "", class: "input-file", title: "Change Profile Picture" do %>
      <%= file_field_tag :avatar %>
    <% end %>
  <% end %>
</div>
<div class="large-6 expert-details small-12 small-centered text-center large-centered columns">
  <h1 style="margin-bottom:0; margin-top:20px"><%= @user.name %></h1>
  <em><%= link_to @user.website, "http://" + @user.website, target: "_blank" unless @user.website.blank? %></em>
  <hr style="border:2px solid #4a4a4a; width:60px; margin:25px auto 20px auto" />
  <h5 class="subheader serif text-center" style="margin-bottom:20px"><em><%= @user.expert_info[:bio] %></em></h5>
  <%= link_to (image_tag "facebook_40.png", style: "width:35px; margin:5px;"), "http://" + @user.facebook, title: "Facebook",  target: '_blank' unless @user.facebook.blank? %>
  <%= link_to (image_tag "twitter_40.png", style: "width:35px; margin:5px;"), "http://twitter.com/" + @user.twitter, title: "Twitter", target: '_blank' unless @user.twitter.blank? %>
  <%= link_to (image_tag "instagram.png", style: "width:40px"), "http://instagram.com/" + @user.instagram, title: "Instagram", target: '_blank' unless @user.instagram.blank? %>
  <%= link_to (image_tag "google.png", style: "width:35px; margin:5px;"), "http://" + @user.google, title: "Instagram", target: '_blank' unless @user.google.blank? %>
  <% if current_user == @user || (current_user && current_user.admin?)  %>
    <%= link_to (image_tag "edit-circle.png", style: "width:30px;", class: "circle-button"), edit_user_path,  title: "Edit Profile" %>
  <% end %>
  <hr class="divider">
</div>
<div class="large-6 small-12 large-centered small-centered columns">
  <div class="large-6 small-12 columns">
    <%= content_tag :p, @user.expert_info[:hometown], class: "sans geo hometown" unless @user.hometown.blank? %>
  </div>
  <div class="large-6 small-12 columns">
    <%= content_tag :p, @user.location, class: "sans geo location" unless @user.location.blank? %>
  </div>
  <hr class="divider">
</div>


<div class="large-6 large-centered small-centered small-12 columns">
  <div class="break">
    <% unless @user.expert_info[:style].blank? %>
    <h4>When I travel, I'm really into</h4>
    <ul class="sans skill-list">
      <% @user.expert_info[:style].each do |s| %>
        <li><%= s %></li>
      <% end %>
    </ul>
    <% end %>
  </div>
  <div class="break">
    <h4 >The one story about my travels that I love to tell</h4>
    <p><%= @user.expert_info[:story] %></p>
  </div>
  <div class="break">
    <h4>The best travel hack I've found after years of travel</h4>
    <p><%= @user.expert_info[:travel_hack] %></p>
  </div>
  <div class="break">
    <h4>Where I've been traveling to</h4>
    <ul class="skill-list sans">
      <% unless @user.expert_info[:countries].blank? %>
        <% @user.expert_info[:countries].each do |c| %>
          <li><%= c %></li>
          <% end %>
      <% end %>

      <% unless @user.expert_info[:cities].blank? %>
        <% @user.expert_info[:cities].each do |c| %>
          <li><%= c %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<div id="stories" class="break"><h2 class="text-center serif subheader black" style="padding-bottom:50px;"><em>My stories on OutTrippin</em></h2>
<ul id="plans-container" style="background:#f3f3f3;">
</ul>
</div>

<div id="content" class="large-6 large-centered break small-centered small-12 columns">
</div>


<%= content_for :body do %>
  <%= stylesheet_link_tag "browsexperimental", media: "all" %>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
<% end %>

<%= content_for :head do %>
  <%= stylesheet_link_tag "experts", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "new_application", media: "all" %>
  <script src="//www.google.com/jsapi?" type="text/javascript"></script>
    <script type="text/javascript">
    /*
    *  How to load a feed via the Feeds API.
    */
    
    google.load("feeds", "1");
    
    // Our callback function, for when a feed is loaded.
    function feedLoaded(result) {
      if (!result.error) {
        // Grab the container we will put the results into
        var container = document.getElementById("content");
        container.innerHTML = '';
        var rssoutput="<p class='sans subheader' style='font-size: 0.8em; letter-spacing: 0.15em;'><strong>THE LATEST FROM MY BLOG:</strong></p><hr><ul class='no-bullet blog'>"
    
        // Loop through the feeds, putting the titles onto the page.
        // Check out the result object for a list of properties returned in each entry.
        // http://code.google.com/apis/ajaxfeeds/documentation/reference.html#JSON
        for (var i = 0; i < result.feed.entries.length; i++) {
          var entry = result.feed.entries[i];
          rssoutput+="<li><h3><a class='black' href='" + entry.link + "'>" + entry.title + "</h3><h5 class='subheader serif'>" + entry.contentSnippet + "</h5></a><h6 class='subheader serif no-margin'><em>Written by " + entry.author + "</em></h6></li><hr>"
        }
        rssoutput+="</ul>"
        container.innerHTML=rssoutput
      }
    }
    
    function OnLoad() {
      // Create a feed instance that will grab Digg's feed.
      var feed = new google.feeds.Feed("<%= @user.rss %>");
    
      // Calling load sends the request off.  It requires a callback function.
      feed.load(feedLoaded);
    }
    
    google.setOnLoadCallback(OnLoad);
    </script>

<% end %>

<%= content_for :body do %>
  <script>
  mixpanel.track("Page Loaded", {"page": "Expert Profile"});
  mixpanel.track_links(".expert-details a", "Clicked Expert Links");
  mixpanel.track_links("#plans-container a", "Browsed Trip", { 
    "page": "Expert Profile", 
    "expert": "<%= @user.name %>" 
  });
</script>
<script>
$(function(){ 
  var apiKey = '8f003eeae634f12fcad8ec03797d1e97';
  destination = '<%= @user.location %>'
  var replaced = destination.split(' ').join('+') 
  var replaced1 = replaced.split(',').join('') 
  $.getJSON('https://api.flickr.com/services/rest/?method=flickr.photos.search&api_key=8f003eeae634f12fcad8ec03797d1e97&text=' + replaced1 + '&min_upload_date=1274832000&license=4%2C5%2C6%2C7&sort=relevance&group_id=41425956%40N00&per_page=10&page=1&format=json&jsoncallback=?',
    function(data) {
      item = $(data.photos.photo).get(0);
      photoURL = 'http://farm' + item.farm + '.static.flickr.com/' + item.server + '/' + item.id + '_' + item.secret + '_b.jpg';
      $('.expert-cover').css('background-image', 'url(' + photoURL + ')');
    }
  )
});

function imgLoaded(img) {
  var $img = $(img);
  $img.parent().parent().addClass('loaded');
};

$.get("/api/v1/plans")
// after receiving the data (plan headers)
  .done(function(data) {
    // will iterate and display each one of them
    var container = $("#plans-container");
    var storyContainer = $("#stories");
    var pCounter = 0;
    $.each(data, function(i, item) {
      if (item.author.id == <%= @user.id %>) {
      // append the newly loaded plan to the list
      container.append('<li><a class="go-to-itinerary" href="/itineraries/' + item.itinerary_id + ' "><p class="title">' + item.title + '</p><img src="' + item.cover + '" onload="imgLoaded(this)"><a class="author" href="/users/' + item.author.id + '"><img src="' + item.author.avatar + '" onload="imgLoaded(this)"><p class="author-name">Recommended by '+ item.author.name + '</p></a></a></li>');
      pCounter++;
     }
    });
    if (pCounter > 0) {
      storyContainer.show();
     }
  });

</script>

<% end %>