<div class="expert-cover">
  <div class="avatar-container">
    <%= image_tag @user.avatar.url(:thumb), class: "avatar top" %>
    <%= form_tag user_update_avatar_path(@user), method: :put, id: "update-avatar", multipart: true do %>
      <%= label_tag "", class: "input-file" do %>
        <p>Change</p>
        <%= file_field_tag :avatar %>
      <% end %>
    <% end %>
  </div>
  <h1 class="white" style="margin-bottom:10px"><%= @user.name %></h1>
  <hr style="border:2px solid #fff;width:60px;margin:0 auto 10px auto" />
  <p class="white"><%= @user.expert_info[:bio] %></p>
</div>

<div class="row top">
  <div class="large-4 columns">
    <%= content_tag :p, @user.expert_info[:hometown], class: "geo hometown" unless @user.hometown.blank? %>
    <%= content_tag :p, @user.expert_info[:location], class: "geo location" unless @user.location.blank? %>
    <br />
    <br />
    <%= link_to @user.website, "http://joaovalente.com", class: "www social", target: "_blank" unless @user.website.blank? %>
    <%= link_to @user.facebook, "http://#{@user.facebook}", class: "facebook social", target: "_blank" unless @user.facebook.blank? %>
    <%= link_to @user.twitter, "http://twitter.com/#{@user.twitter}", class: "twitter social", target: "_blank" unless @user.twitter.blank? %>
    <%= link_to @user.instagram, "http://instagram.com/#{@user.instagram}", class: "instagram social", target: "_blank" unless @user.instagram.blank?%>
    <br />
    <br />
    <%= link_to "Edit Profile", edit_user_path, class: "small button" %>
  </div>

  <div class="large-8 columns">
    <% unless @user.expert_info[:style].blank? %>
    <ul class="inline-list skill-list">
      <% @user.expert_info[:style].each do |s| %>
        <li><span class="label light round"><%= s %></span></li>
      <% end %>
    </ul>
    <% end %>

    <h2 class="subheader">My Story</h2>
    <p><%= @user.expert_info[:story] %></p>

    <h2 class="subheader">My Best Travel Hack</h2>
    <p><%= @user.expert_info[:travel_hack] %></p>

    <h2 class="subheader">My Places</h2>
    <ul class="inline-list skill-list">
      <% unless @user.expert_info[:countries].blank? %>
        <% @user.expert_info[:countries].each do |c| %>
          <li><span class="label light round"><%= c %></span></li>
          <% end %>
      <% end %>

      <% unless @user.expert_info[:cities].blank? %>
        <% @user.expert_info[:cities].each do |c| %>
          <li><span class="label light round"><%= c %></span></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<%= content_for :head do %>
  <%= stylesheet_link_tag "experts", media: "all", "data-turbolinks-track" => true %>
<% end %>