<div class="row">
  <div class="large-10 large-offset-2 columns">
    <h1>Admin Dashboard</h1>
  </div>
</div>

<div class="row">
  <div class="large-2 columns">
    <%= render 'layouts/parts/admin_menu' %>
  </div>

  <div class="large-10 columns">
    <table style="width:100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Roles</th>
          <th>Signed Up</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% User.all.each do |u| %>
        <tr>
          <td><%= link_to (u.name || u.email), user_path(u) %></td>
          <td><%= u.roles %> </td>
          <td><%= time_ago_in_words u.created_at %></td>
          <td><%= link_to "Delete", user_path(u), method: :delete, confirm: "Please confirm that you want to delete user #{u.name}." %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>