
<div class="row big-break">
  <div class="large-12 large-centered small-12 columns">
    <div class="large-2 left columns">
      <% if current_user && !current_user.is?("expert") && !@itinerary.has_winner_pitch? %>
        <h4 class="no-margin serif subheader pitch-number"><em><%= pitch_counter + 1 %></em></h4>
      <% end %>
    </div>

    <div class="large-8 large-centered small-12 columns">
      <%= button_to "Pick Me!", winner_itinerary_pitch_path(pitch.itinerary, pitch), method: :put, class: "small right button radius" if current_user.owns?(pitch.itinerary) && !pitch.itinerary.has_winner_pitch? %>
      <%= link_to (image_tag "edit-circle.png"), edit_itinerary_pitch_path(pitch.itinerary, pitch), class: "right", title: "Edit Pitch", style: "width:25px;" if current_user.is?("expert") && !pitch.winner %>
      <h3><%= pitch.title %> </h3>
      <% unless pitch.pictures.empty? %>
      <div class="pitch-imgs">
        <ul data-orbit data-options="bullets:true; navigation_arrows:false; slide_number:false; " >
          <% pitch.pictures.each do |pic| %>
          <li>
            <%= image_tag pic.source %>
          </li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <p><%= pitch.summary %></p>
      <div class="written-by">
        <hr>
        <p class="sans subheader" style="margin-bottom:15px;"><small>BY OUTTRIPPIN STORYTELLER</small></p>
        <div class="row">
          <div class="large-12 small-12 columns">
            <%= link_to (image_tag pitch.user.avatar.url(:thumb), class: "avatar-footer rounded"), user_path(pitch.user), target: "_blank", title: "User Profile" %>
            <h5 class="no-margin no-padding">
              <%= link_to pitch.user.personal_info[:name], user_path(pitch.user), target: "_blank", class: "black", title: "User Profile" %> <a href="#" data-dropdown="interestd" data-options="is_hover:true"><%= image_tag 'info.png', style: "opacity:0.5; margin:-4px 0 0 5px; width:25px;" %></a>
              <%= link_to (image_tag "facebook.png", class: "right", style: "width:25px"),  expert_info_website_url(pitch.user.facebook), target: '_blank' unless pitch.user.facebook.blank? %>
              <%= link_to (image_tag "pinterest_40.png", class: "right", style: "width:18px"), expert_info_website_url(pitch.user.pinterest), target: '_blank' unless pitch.user.pinterest.blank? %>
              <%= link_to (image_tag "twitter.png", class: "right", style: "width:25px"), expert_info_twitter_url(pitch.user.twitter), target: '_blank' unless pitch.user.twitter.blank? %>
              <%= link_to (image_tag "instagram.png", class: "right", style: "width:25px"),  expert_info_instagram_url(pitch.user.instagram), target: '_blank' unless pitch.user.instagram.blank? %>
            </h5>
            <p style="font-size:90%" class="no-margin no-padding"><em>I blog at <%= link_to expert_info_website_url(pitch.user.website),  expert_info_website_url(pitch.user.website), target: '_blank' unless pitch.user.website.blank? %></em></p>
            <p style="font-size:90%;" class="subheader serif" style="line-height:1em;"><em><%= pitch.why_me %></em></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="interestd" class="f-dropdown medium content" data-dropdown-content>
  <h5 class="subheader serif"><em>My travel interests:</em></h5>
  <p>
 <% unless pitch.user.expert_info[:style].blank? %>
  <ul class="sans skill-list">
    <% pitch.user.expert_info[:style].each do |s| %>
    <li><%= s %></li>
    <% end %>
  </ul></p>
  <% end %>
  <em><%= link_to "...See my full profile", user_path(pitch.user), target: "_blank", title: "Storyteller's Profile" %></em>
</div>
<% if current_user && !current_user.is?("expert") && !@itinerary.has_winner_pitch? %>
  <hr style="border:1px #e6e6e6 solid">
<% end %>