<div class="row">
  <div class="large-12 columns pitch">
    <div class="row">
      <div class="large-4 columns">
        <%= image_tag pitch.user.avatar.url(:thumb), class: "avatar" %>

        <h6 class="subheader"><%= pitch.user.personal_info[:name] %></h6>

        <% unless pitch.user.expert_info[:style].blank? %>
        <ul class="inline-list skill-list">
          <% pitch.user.expert_info[:style].each do |s| %>
            <li><span class="label light round"><%= s %></span></li>
          <% end %>
        </ul>
        <% end %>

        <h4 class="subheader">Why Me?</h4>
        <p class="small"><%= pitch.why_me %></p>
        <%= link_to "Edit Pitch", edit_itinerary_pitch_path(@itinerary, pitch), class: "button radius" if current_user.is?("expert") %>
        <%= button_to "Pick Expert!", winner_itinerary_pitch_path(@itinerary, pitch), method: :put, class: "button radius" if current_user.owns?(@itinerary) && !@itinerary.has_winner_pitch? %>
      </div>

      <div class="large-8 columns">
        <% unless pitch.pictures.empty? %>
        <ul data-orbit data-options="bullets:false;">
          <% pitch.pictures.each do |pic| %>
          <li>
            <%= image_tag pic.source %>
          </li>
          <% end %>
        </ul>
        <% end %>

        <h3><%= pitch.title %></h3>
        <h4 class="subheader">Trip Summary</h4>
        <p><%= pitch.summary %></p>
      </div>
    </div>
  </div>
</div>