<div class="row">
  <div class="large-10 large-centered columns">
    <%= form_for @pitch_new, url: itinerary_pitches_path(@itinerary), html: { class: 'custom' } do |f| %>
      <%= f.label :title, "Give a title to your pitch *" %>
      <%= f.text_field :title, placeholder: "This is a title" %>
      <%= errors_for(@pitch_new, :title) %>

      <%= f.label :why_me, "A short travel bio about yourself *" %>
      <%= f.text_area :why_me, class: 'medium-textarea', placeholder: "type here…" %>
      <%= errors_for(@pitch_new, :why_me) %>

      <%= f.label :summary, "Pitch summary *" %>
      <%= f.text_area :summary, class: 'medium-textarea', placeholder: "type here…" %>
      <%= errors_for(@pitch_new, :summary) %>

      <% for i in 1..3 %>
        <%= f.file_field "pic_#{i}" %>
      <% end %>

      <%= f.submit "Submit", class: "button radius" %>

    <% end %>
  </div>
</div>

<% expanded_sidebar %>