<ul class="right">
  <li class="has-dropdown"><a href="#">Browse Trips</a>
    <ul class="dropdown">
      <% $example_itineraries.each do |i| %>
        <%= content_tag(:li, link_to(i[1]["name"], i[1]["url"], target: "_blank")) %>
        <% end %>
    </ul>
  </li>
  <% if current_user %>
  <li class="user-menu has-dropdown"><a href="#" ><%= image_tag 'user-menu.png', style: "width:25px;" %><div class="hide-for-medium-up">Me</div></a>
    <ul class="dropdown">
      <%= content_tag(:li, link_to("Dashboard", admin_path)) if current_user.is?("admin") %>
      <%= content_tag(:li, link_to("My Collection", itineraries_path)) if current_user.has_itineraries? %>
      <%= content_tag(:li, link_to("Profile", user_path(current_user))) if current_user.is?("expert") %>
      <%= content_tag(:li, link_to("Logout", logout_path, method: :delete)) %>
    </ul>
  </li>
  <% else %>
    <%= content_tag(:li, link_to("Login", login_path))  %>
  <% end %>
</ul>