<ul class="right">
  <% if (!@itinerary.nil? && @itinerary.new_record?) || !current_user %>
    <%= content_tag(:li, link_to("Browse Trips", browse_path, id: "browse")) %>
    <%= content_for :body do %>
      <script>
        mixpanel.track_links("#browse", "Clicked Browse Trips", {
          'location': 'Navbar'
        });
      </script>
    <% end %>
  <% end %>
  <% if current_user %>
  <li class="user-menu has-dropdown"><a href="#" ><%= image_tag 'user-menu.png', style: "width:24px;" %><div class="hide-for-medium-up">Me</div></a>
    <ul class="dropdown">
      <%= content_tag(:li, link_to("Admin Dashboard", admin_path)) if current_user.is?("admin") %>
      <%= content_tag(:li, link_to("Dashboard", itineraries_path)) if current_user.has_itineraries? or current_user.is?("expert")  %>
      <%= content_tag(:li, link_to("Profile", user_path(current_user))) if current_user.is?("expert") %>
      <%= content_tag(:li, link_to("Logout", logout_path, method: :delete)) %>
    </ul>
  </li>
  <% else %>
    <%= content_tag(:li, link_to("Login", login_path))  %>
  <% end %>
</ul>
