<%= content_for :head do %>
  <%= stylesheet_link_tag "hotels", media: "all" %>
  <%= stylesheet_link_tag "fullpage", media: "all" %>
<% end %>
<style>body {overflow-x:hidden;}</style>
<% set_page_title("Tailored travel planning & expert travel advice, on tap - OutTrippin") %>
<div id="fullpage">
  <div id="homecover" class="section home-cover" style="background-image:url(<%= asset_path('map.jpg') %>);">
    <div id="overlay1" style="background-color: rgba(0, 0, 0, 0);"></div>
    <div id="destination" class="text-center" style="background:none;" >
      <h1 class="no-margin primary scribble" >WOW EVERY GUEST</h1>
      <h3 class="white serif text-center subheader" style="font-weight:400; max-width:740px; margin-top:-15px; margin-left:auto; margin-right:auto;">with a monthly city guide that knows<br>what’s happening near your hotel, right now.</h3>
      <%= form_for @itinerary do |f| %>
      <div class="text-center small-12 columns" style="padding-top:80px;">
        <%= f.text_field :destination, placeholder: "My hotel name is...", :autofocus => true %>
        <%= errors_for(@itinerary, :destination) %>
        <%= f.hidden_field :source, :value => "hotel" %>
        <%= f.submit "Yes please!", class: "tertiary button serif radius" %>
      </div>
      <% end %>
     <a href="" class="text-center hide-for-small"><%= image_tag "down-arrow.png", id: "scroll-down"%></a>
    </div>
  </div>
  <div id="wipe" class="section" style="background-image:url(<%= asset_path('mobile.jpg') %>); background-position:0 0; position:relative;">
    <div class="row">
      <div id="freshcontent" class="large-12 large-centered text-center small-12 columns" style="padding-top:100px;" >
        <h1 id="pin1" class="pink scribble" style="margin-bottom:0; font-size:4.3em;">FRESH-BAKED CONTENT</h1>
        <h3 class="white serif subheader" style="margin-top:-10PX; WIDTH:740px; margin-left:auto;margin-right:auto">Our City Guides are updated monthly so your guests never miss out.</h3>
      </div>
    </div>
  </div>
  <div id="pin3" class="section" style="background:#fdfdfd; position:relative">
    <div class="row" style="height:38%;top:0; width:100%">
      <div class="large-12 large-centered text-center small-12 columns" style="padding-top:2%;">
        <h2  class="primary scribble" style="margin-bottom:0;">GET PERSONAL</h2>
        <h3 class="serif subheader" style="margin-top:-10px; WIDTH:740px; margin-left:auto;margin-right:auto">Using guest data and set profiles, we splice up the most relevant and exciting local experiences every month.</h3>
         <h5 class="subheader text-center serif" style="width:600px;margin-top:50px; margin-left:auto; margin-right:auto;"><em></em> </h5>
      </div>
    </div>
    <ul id="ideas-container" style=" position:absolute; bottom:7%; width:100%; height:54%;">
      <li style="background-image:url(<%= asset_path('Personaexample1.jpg') %>); background-size:cover;"></li>
      <li style="background-image:url(<%= asset_path('Personaexample2.jpg') %>); background-size:cover;"></li>
      <li style="background-image:url(<%= asset_path('Personaexample3.jpg') %>); background-size:cover;"></li>
    </ul>
  </div>
  <div id="empower" class="section" style="background-image:url(<%= asset_path('empower.jpg') %>); background-position: 0 100%; position:relative;">
    <div class="row">
      <div id="empowercontent" class="large-12 large-centered text-center small-12 columns" style="padding-top:70px;">
        <h2 id="pin2" class="pink scribble" style="margin-bottom:0;">EMPOWER GUESTS</h2>
        <h3 class="serif white subheader" style="margin-top:-10px; WIDTH:600px; margin-left:auto;margin-right:auto">With trusted local knowledge from OutTrippin travel writers.</h3>
         <h5 class="subheader text-center serif" style="width:600px;margin-top:50px; margin-left:auto; margin-right:auto;"><em></em> </h5>
      </div>
    </div>
  </div>
  <div id="format" class="section" style="background:#fdfdfd; position:relative;">
    <div id="formatcontent" class="row" style="height:38%;top:0; width:100%">
      <div class="large-12 large-centered text-center small-12 columns" style="padding-top:2%;">
        <h2  class="primary scribble" style="margin-bottom:0;">IN EVERY HAND</h2>
        <h3 class="serif subheader" style="margin-top:-10px; WIDTH:750px; margin-left:auto;margin-right:auto">Your brand goes everywhere your guest does with social, multi-format products both online and offline.</h3>
         <h5 class="subheader text-center serif" style="width:600px;margin-top:50px; margin-left:auto; margin-right:auto;"><em></em> </h5>
      </div>
    </div>
    <div id="formatpic" style="background-image:url(<%= asset_path('digital.jpg') %>); bottom: 0; width: 90%; position: absolute; border-radius: 4px 4px 0 0; right: 5%; left: 5%; background-position: 0 20%; background-size: cover; height:62%;">
      
    </div>
  </div>
    


  <div class="section" id="loyalty" style="background-image:url(<%= asset_path('loyalty.jpg') %>); background-position: 0 30%;">
    <div class="row">
      <div id="loyaltycontent" class="large-12 large-centered text-center small-12 columns" style="padding-top:80px;">
        <h2 id="pin2" class="dark scribble" style="margin-bottom:0;">INSPIRE LOYALTY</h2>
        <h3 class="serif white subheader" style="margin-top:-10px; WIDTH:740px; margin-left:auto;margin-right:auto">A place to sleep is only part of what your guests value, so give them experiences that keep them coming back.</h3>
        <!--<h5 class="serif subheader" style="margin-top:-10px; WIDTH:740px; margin-left:auto;margin-right:auto">Sign up for a free whitepaper on how we can help you take your hotel's guest engagement to the next level.</h5> -->
         <a class="tertiary button serif large" id="scrollup" href="#scroll-up" style="margin-top:150px;">Next level guest engagement begins here!</a>
      </div>
    </div>
  </div>


</div>
    

<%= content_for :head do %>
<script src="http://maps.googleapis.com/maps/api/js?libraries=places&amp;sensor=false"></script>
<% end %>

<%= content_for :body do %>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.13.2/TweenMax.min.js"></script>
  <%= javascript_include_tag "scrollmagic", "data-turbolinks-track" => true %>

  <script>

    // init controller
    var controller = new ScrollMagic();
    var tween = new TimelineMax ()
                .add([
                  TweenMax.to("#destination", 1, {opacity:0, ease: Quad.easeOut}),
                  TweenMax.to("#overlay1", 1, {backgroundColor:"rgba(0,0,0,0.8)", delay:0.1})
                ]);

    var tween1 = new TimelineMax ()
                .add([
                  TweenMax.to("#wipe", 1, {backgroundPosition: "0 100%", delay: 0.5}),
                  TweenMax.to("#freshcontent", 1, {css:{scaleX:0.9, scaleY:0.9, paddingTop: "20px"}})
                ]);
    var tween2 = new TimelineMax()
                .add([
                  TweenMax.to("#ideas-container > li:first-child", 1, {backgroundPosition: "center 50%", ease: Quad.easeOut, delay: 2}),
                  TweenMax.to("#ideas-container > li:nth-child(2)", 1, {backgroundPosition:"center 50%", ease: Quad.easeOut, delay: 2}),
                  TweenMax.to("#ideas-container > li:last-child", 1, {backgroundPosition:"center 50%", ease: Quad.easeOut, delay: 2})
                  ])
                .add([
                  TweenMax.to("#ideas-container > li:first-child", 1, {backgroundPosition: "center 100%", ease: Quad.easeOut, delay: 2}),
                  TweenMax.to("#ideas-container > li:nth-child(2)", 1, {backgroundPosition:"center 100%", ease: Quad.easeOut, delay: 2}),
                  TweenMax.to("#ideas-container > li:last-child", 1, {backgroundPosition:"center 100%", ease: Quad.easeOut, delay: 2})
                  ]);
    var tween3 = new TimelineMax ()
                .add([
                  TweenMax.to("#empower", 1, {backgroundPosition: "0 2%", delay:0.2}),
                  TweenMax.to("#empowercontent", 1, {css:{scaleX:1.1, scaleY:1.1, paddingTop: "20px"}, delay:0.8 })
                ]);
    var tween4 = new TimelineMax ()
                .add([
                  TweenMax.from("#formatpic", 1, {backgroundPosition: "0 2%", height:"44%"}),
                  TweenMax.from("#formatcontent", 1, {css:{scaleX:1.1, scaleY:1.1, paddingTop: "4%", height:"56%"} })
                ])
                .add([
                  TweenMax.to("#formatpic", 1, {backgroundPosition: "0 70%", height:"80%"}),
                  TweenMax.to("#formatcontent", 1, {css:{scaleX:0.7, scaleY:0.7, paddingTop: "0", height:"20%"} })
                ]);
    var tween5 = new TimelineMax ()
                .add([
                  TweenMax.to("#loyalty", 1, {backgroundPosition: "0 100%"}),
                  TweenMax.to("#loyaltycontent", 1, {css:{scaleX:0.9, scaleY:0.9, paddingTop: "20px"}, delay:0.7 })
                ]);
    // assign handler "scene" and add it to Controller
  var scene = new ScrollScene({triggerElement: "#homecover", triggerHook:"onLeave", duration: $(window).height()})
                .setTween(tween)
                .addTo(controller);

  var scene1 = new ScrollScene({triggerElement: "#wipe",  duration: $(window).height()})
                .setTween(tween1)
                .addTo(controller);

  var scene2 = new ScrollScene({triggerElement: "#pin3",  triggerHook:"onLeave", duration:500})
                .setTween(tween2)
                .setPin("#pin3")    
                .addTo(controller);

  var scene3 = new ScrollScene({triggerElement: "#empower",  duration: $(window).height()})
                .setTween(tween3)
                .addTo(controller);

  var scene4 = new ScrollScene({triggerElement: "#format", duration: $(window).height()})
                .setTween(tween4)
                .addTo(controller);

  var scene5 = new ScrollScene({triggerElement: "#loyalty", duration: $(window).height()})
                .setTween(tween5)
                .addTo(controller);

  </script>
  <script>
  $(window).load(function() {
    autocomplete = new google.maps.places.Autocomplete(document.getElementById('itinerary_destination'), {types: ['establishment']})
  });
  </script>
  <script type="text/javascript">
    function getURLParameter(name) {
    return decodeURIComponent(
    (location.search.match(RegExp("[?|&]"+name+'=(.+?)(&|$)'))||[,""])[1]
    );}
  </script>
  <script>
  <% if current_user %>
    mixpanel.alias("<%= current_user.email %>");
    mixpanel.people.set({
        "Name": "<%= current_user.personal_info[:name] %>",
        "Roles": "<%= current_user.roles.join(', ') %>",
        "$email": "<%= current_user.email %>"
    });
  <% end %>
  mixpanel.track("Page Loaded", {
    "page": "landing page",
    "Affiliate": getURLParameter("refblog")
  });
  mixpanel.track_forms("#new_itinerary", "Started Contest");
  mixpanel.people.set_once({
    "Affiliate": getURLParameter("refblog")
  });

  mixpanel.register_once({
    "Source": "OutTrippin"
  });
    mixpanel.track_links(".trip a", "Browsed Featured Trip", {
    'page': 'landing page'
  });
  mixpanel.track_links("#browse1", "Clicked Browse Trips", {
    'location': 'Featured Trips Section'
  });
  mixpanel.track_links("#browselink", "Clicked Browse Trips", {
    'location': 'Cover'
  });
</script>
<% end %>