<% set_page_title("Tailored travel planning & expert travel advice, on tap - OutTrippin") %>
<div class="home-cover">
  <div id="destinations">
    <div id="loading" class="text-center" >
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
      <h6 class="subheader primary serif"><em>Hang tight, we're just loading up...<br>:: beep beep boop ::</em></h6>
    </div>
    <div class="row">
      <div class="large-12 small-12 columns">
        <h1 id="header" class="no-margin" ><%= homepage("header") %></h1>
        <h3 id="sub-header" class="white subheader"><%= homepage("subheader") %></h3>
        <%= form_for @itinerary do |f| %>
        <div id="dest" class="large-5 no-margin no-padding left small-12 columns">
          <%= f.text_field :destination, placeholder: homepage("placeholder"), :autofocus => true %>
          <%= errors_for(@itinerary, :destination) %>
        </div>
        <div id="contestbtn" class="large-2 left no-margin no-padding small-12 columns">
          <%= f.submit homepage("submit"), class: "button radius expand" %>
        </div>
        <% end %>
      </div>
    </div>

    <div class="navig hide-for-small">
      <div id="expert-loader">
        <% homepage_pics.each do |p| %>
        <div class="row large-5 no-padding columns right expert <%= p[0] %>">
          <div class="large-9 small-9 text-right columns">
            <h5><%= p[1]["title"] %></h5>
            <p><em class="hide-for-small">"<%= p[1]["text"] %>"</em> - <strong class="sans"><%= p[1]["expert"].html_safe %></strong></p>
          </div>
          <div class="large-3 small-3 right columns">
            <%= image_tag p[1]["avatar"], class: "th rounded" %>
          </div>
        </div>

        <% end %>
      </div>
    </div>
    <a href="" class="text-center"><%= image_tag "down.png", id: "scroll-down" %></a>
  </div>
</div>

<div id="steps" class="row break">
  <div class="large-10 large-centered text-center small-12 columns">
    <h3 class="subheader serif" style="margin-bottom:60px;"><em><%= homepage(["process", "text"]).html_safe %></em></h3>
    <hr style="border:1px #e6e6e6 solid;">
    <div class="break">
      <h3><%= homepage(["process", "step1", "title"]).html_safe %></h3>
      <div class="large-6 small-12 text-center columns">
        <h4 class="subheader serif step-detail" ><em><%= homepage(["process", "step1", "text"]).html_safe %></em></h4>
      </div>
      <div class="large-5 large-offset-1 small-12 text-center columns">
        <%= image_tag 'describe.png', style: "margin-top:28px !important;" %>
      </div>
      <hr style="border:1px #e6e6e70px6 solid;">
    </div>
    <div class="short-break">
      <h3><%= homepage(["process", "step2", "title"]).html_safe %></h3>
      <div class="large-6 small-12 text-center columns">
        <h4 class="subheader serif step-detail"  ><em><%= homepage(["process", "step2", "text"]).html_safe %></em></h4>
      </div>
      <div class="large-5 large-offset-1 small-12 text-center columns">
        <%= image_tag 'pick.png' %>
      </div>
      <hr style="border:1px #e6e6e6 solid;">
    </div>
    <div class="short-break">
      <h3><%= homepage(["process", "step3", "title"]).html_safe %></h3>
      <div class="large-6 small-12 text-center columns">
        <h4 class="subheader serif step-detail" ><em><%= homepage(["process", "step3", "text"]).html_safe %></em></h4>
      </div>
      <div class="large-5 large-offset-1 small-12 text-center columns">
        <%= image_tag 'script.png' %>
      </div>
      <hr style="border:1px #e6e6e6 solid;">
    </div>
    <div class="short-break">
      <h3><%= homepage(["process", "step4", "title"]).html_safe %></h3>
      <div class="large-6 small-12 text-center columns">
        <h4 class="subheader serif step-detail" ><em><%= homepage(["process", "step4", "text"]).html_safe %></em></h4>
      </div>
      <div class="large-5 large-offset-1 small-12 text-center columns">
        <%= image_tag 'ready.png', style: "margin-top:57px;" %>
      </div>
      <hr style="border:1px #e6e6e6 solid;">
    </div>
  </div>
</div>

<% unless @featuring_stories.blank? %>
<div id="featuring" class="break">
  <div class="row">
    <div class="large-12 small-12 columns">
      <h3 class="text-center serif subheader black"><em>Need ideas? Here are some featured stories from OutTrippin.</em></h3>
    </div>
  </div>
  <div id="detail-loader" >
    <%= render partial: 'plans/featured', collection: @featuring_stories, as: :plan %>
  </div>
  <div class="row">
    <div class="large-12 small-12 columns navigate">
      <!-- adds jquery navigation -->
    </div>
  </div>
</div>

<div class="row top" style="margin-top: 50px;margin-bottom: 150px;">
 <div class="large-12 text-center small-12 columns">
   <h2 class="serif subheader black">
     <em>Have a better vacation, or your money back!</em>
   </h2>
   <a class="large button radius" id="scroll-up" href="/" style="margin-top:50px;">Hook me up!</a>
 </div>
</div>


<div id="trip-loader">
  <% @featuring_stories.each do |i| %>
    <%= image_tag i.cover %>
  <% end %>
</div>

<% end %>

<div id="image-loader">
  <% homepage_pics.each do |p| %>
    <%= image_tag p[1]["src"], class: p[0] %>
  <% end %>
</div>

<%= content_for :head do %>
<script src="http://maps.googleapis.com/maps/api/js?libraries=places&amp;sensor=false"></script>
<%= stylesheet_link_tag "home", media: "all", "data-turbolinks-track" => true %>

<% end %>

<%= content_for :body do %>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script>
  <% if current_user %>
    mixpanel.alias("<%= current_user.email %>");
    mixpanel.people.set({
        "Name": "<%= current_user.personal_info[:name] %>",
        "Roles": "<%= current_user.roles.join(', ') %>",
        "$email": "<%= current_user.email %>"
    });
  <% end %>
  mixpanel.track("Page Loaded", {"page": "landing page"});
  mixpanel.track_forms("#new_itinerary", "Started Contest");
</script>
<% end %>