<% set_page_title("Tailored travel planning & expert travel advice, on tap - OutTrippin") %>
<div class="home-cover">
  <div id="destinations">
    <div id="loading" >
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 small-12 columns">
        <h1 id="header" class="no-margin" ><%= homepage("header") %></h1>
        <h4 id="sub-header" class="white subheader"><%= homepage("subheader") %></h4>
        <%= form_for @itinerary do |f| %>
        <div id="dest" class="large-5 no-margin no-padding left small-12 columns">
          <%= f.text_field :destination, placeholder: homepage("placeholder") %>
          <%= errors_for(@itinerary, :destination) %>
        </div>
        <div id="contestbtn" class="large-2 left no-margin no-padding small-12 columns">
          <%= f.submit homepage("submit"), class: "button radius expand" %>
        </div>
        <% end %>
      </div>
    </div>

    <div class="navig">
      <div id="expert-loader">
        <% homepage_pics.each do |p| %>
        <div class="row large-5 no-padding columns right expert <%= p[0] %>">
          <div class="large-9 small-9 text-right columns">
            <h5><%= p[1]["title"] %></h5>
            <p><em class="hide-for-small">"<%= p[1]["text"] %>"</em> - <strong class="sans"><%= p[1]["expert"] %></strong></p>
          </div>
          <div class="large-3 small-3 right columns">
            <%= image_tag p[1]["avatar"], class: "th rounded" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <a href=""><%= image_tag "down.png", id: "scroll-down", style: "width:40px;" %></a>
  </div>
</div>

<div id="steps">
  <div class="row">
    <div class="large-12 columns">
      <h3 class="subheader"><%= homepage(["process", "header"]) %>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <%= image_tag 'marker.png' %>
      <h4 class="subheader"><%= homepage(["process", "step1", "title"]) %></h4>
      <p><%= homepage(["process", "step1", "text"]) %></p>
    </div>
    <div class="large-4 columns">
      <%= image_tag 'idea.png' %>
      <h4 class="subheader"><%= homepage(["process", "step2", "title"]) %></h4>
      <p><%= homepage(["process", "step2", "text"]) %></p>
    </div>
    <div class="large-4 columns">
      <%= image_tag 'calendar.png' %>
      <h4 class="subheader"><%= homepage(["process", "step3", "title"]) %></h4>
      <p><%= homepage(["process", "step3", "text"]) %></p>
    </div>
  </div>
</div>

<% unless @featuring_stories %>
<div id="featuring" class="break">
  <h3 class="text-center serif subheader black" style="padding-top:50px; margin-bottom:40px;"><em>Looking to be inspired? Here are some featured stories from OutTrippin.</em></h3>
  <div id="detail-loader" >
    <%= render partial: 'plans/featured', collection: @featuring_stories, as: :plan %>
  </div>
  <div class="row">
    <div class="large-12 small-12 columns navigate">
      <!-- adds jquery navigation -->
    </div>
  </div>
</div>
<% end %>
<div class="row top">
  <div class="large-12 text-center small-12 columns">
    <h2 class="serif subheader black">
      <em>Start making your own stories. </em>
    </h2>
    <a class="large button radius" href="/" style="margin-top:50px;">Get in there!</a>
  </div>
</div>

<div id="trip-loader">
  <% @featuring_stories.each do |i| %>
    <%= image_tag i.cover %>
  <% end %>
</div>

<div id="path-loader">
  <% @featuring_stories.each do |l| %>
    <%= link_to itinerary_path(l.itinerary), itinerary_path(l.itinerary) %>
  <% end %>
</div>

<div id="image-loader">
  <% homepage_pics.each do |p| %>
    <%= image_tag p[1]["src"], class: p[0] %>
  <% end %>
</div>
<div class="row break">
  <h2>
<%= content_for :head do %>
<script src="http://maps.googleapis.com/maps/api/js?libraries=places&amp;sensor=false"></script>
<%= stylesheet_link_tag "home", media: "all", "data-turbolinks-track" => true %>

<% end %>

<%= content_for :body do %>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <% if (current_user && current_user.is?("admin")) %>
  <script>
$("#contestbtn").click(function() {
    // This sends us an event every time a user clicks the button
    mixpanel.track("Started Contest");
    <% if current_user %>
    mixpanel.identify("<%= current_user.id %>");
    mixpanel.people.set({
        "Name": "<%= current_user.personal_info[:name] %>",
        "Roles": "<%= current_user.roles.join(', ') %>",
        "$email": "<%= current_user.email %>"
    });
    <% else %>

    <% end %>
});
</script>
<% end %>
<% end %>