<% set_page_title("Tailored travel planning & expert travel advice, on tap - OutTrippin") %>
<div class="home-cover">
  <div id="destinations">
    <%= image_tag "loading_black.gif", id: "loading" %>
    <%= link_to "", "#", id: "left", class: "navigator"  %>
    <%= link_to "", "#", id: "right", class: "navigator"   %>
    <div class="row">
      <div class="large-12 small-12 columns">
        <h1 id="header" class="no-margin" ><%= homepage("header") %></h1>
        <h4 id="sub-header" class="white subheader"><%= homepage("subheader") %></h4>
        <%= form_for @itinerary do |f| %>
        <div id="dest" class="large-5 no-margin no-padding left small-12 columns">
          <%= f.text_field :destination, placeholder: homepage("placeholder") %>
          <%= errors_for(@itinerary, :destination) %>
        </div>
        <div id="contestbtn" class="large-2 left no-margin no-padding small-12 columns">
          <%= f.submit homepage("submit"), class: "button radius expand" %>
        </div>
        <% end %>
      </div>
    </div>


    <div id="expert-loader">
      <% homepage_pics.each do |p| %>
      <div class="row large-5 no-padding columns right expert <%= p[0] %>">
        <div class="large-9 small-9 text-right columns">
          <h5><%= p[1]["title"] %></h5>
          <p><em class="hide-for-small">"<%= p[1]["text"] %>"</em> - <strong class="sans"><%= p[1]["expert"] %></strong></p>
        </div>
        <div class="large-3 small-3 right columns">
          <%= image_tag p[1]["avatar"], class: "th rounded" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="large-1 large-centered columns text-center">
  <a href="" id="scroll-down"><img src="/assets/down.png" style="margin-top:-80px; width:40px;"></a>
</div>


<div id="steps">
  <div class="row">
    <div class="large-12 columns">
      <h3 class="subheader"><%= homepage(["process", "header"]) %>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <%= image_tag 'marker.png' %>
      <h4 class="subheader"><%= homepage(["process", "step1", "title"]) %></h4>
      <p><%= homepage(["process", "step1", "text"]) %></p>
    </div>
    <div class="large-4 columns">
      <%= image_tag 'idea.png' %>
      <h4 class="subheader"><%= homepage(["process", "step2", "title"]) %></h4>
      <p><%= homepage(["process", "step2", "text"]) %></p>
    </div>
    <div class="large-4 columns">
      <%= image_tag 'calendar.png' %>
      <h4 class="subheader"><%= homepage(["process", "step3", "title"]) %></h4>
      <p><%= homepage(["process", "step3", "text"]) %></p>
    </div>
  </div>
</div>

<div id="image-loader">
  <% homepage_pics.each do |p| %>
    <%= image_tag p[1]["src"], class: p[0] %>
  <% end %>
</div>

<%= content_for :head do %>
<script src="http://maps.googleapis.com/maps/api/js?libraries=places&amp;sensor=false"></script>
<%= stylesheet_link_tag "home", media: "all", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag "white_topbar", media: "all", "data-turbolinks-track" => true %>
<% end %>

<%= content_for :body do %>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<% end %>