<div class="row">
  <div class="large-10 large-offset-2 columns">
    <h1>Itineraries</h1>
  </div>
</div>

<div class="row">
  <div class="large-2 columns">
    <%= render 'layouts/parts/admin_menu' %>
  </div>

  <div class="large-10 columns">
    <table style="width:100%">
      <thead>
        <tr>
          <th>User</th>
          <th>Destination</th>
          <th>Created</th>
          <th>Paid?</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% Itinerary.all.each do |i| %>
        <tr>
          <td><%= link_to (i.user.name || i.user.email), user_path(i.user) unless i.user.blank? %></td>
          <td><%= link_to i.destination, itinerary_path(i) %> </td>
          <td><%= time_ago_in_words i.created_at %></td>
          <td><%= i.paid %></td>
          <td><%= link_to "Delete", admin_itinerary_path(i), method: :delete, confirm: "Please confirm that you want to delete this itinerary to #{i.destination}" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>