<div class="row">
  <div class="large-10 large-offset-2 columns">
    <h1>Stories</h1>
  </div>
</div>

<div class="row">
  <div class="large-2 columns">
    <%= render 'layouts/parts/admin_menu' %>
  </div>

  <div class="large-10 columns">
    <table style="width:100%">
      <thead>
        <tr>
          <th>User</th>
          <th>Destination</th>
          <th>Created</th>
          <th>Paid?</th>
          <th>Published?</th>
          <th>Booked Anything?</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% Itinerary.all.each do |i| %>
        <tr>
          <td><%= link_to (i.user.name || i.user.email), user_path(i.user) unless i.user.blank? %></td>
          <td><%= link_to i.destination, itinerary_path(i) %> </td>
          <td><%= time_ago_in_words i.created_at %></td>
          <td><%= i.paid %></td>
          <td><%= link_to (i.published? ? "Unpublish" : "Publish"), admin_itinerary_toggle_published_path(i), method: 'post' %></td>
          <td><%= i.extra_info[:booked].join(', ').html_safe unless i.extra_info[:booked].blank? %></td>
          <td><%= link_to (image_tag "edit-circle.png", style: "width:20px", class: "circle-button"), edit_admin_itinerary_path(i) %> <%= link_to (image_tag "delete-circle.png", style: "margin-left:5px; width:20px"), admin_itinerary_path(i), method: :delete, data: { confirm: "Please confirm that you want to delete this itinerary to #{i.destination}" } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>