<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>A new pitch was added by <%= @user.personal_info[:name] %> to <%= link_to itinerary_url(@itinerary) %>
  <h4><%= @pitch.title %></h4>
  <p><%= @pitch.why_me %></p>
  <p><%= @pitch.summary %></p>
</body>
</html>