<% if @plan && @plan.published %>
  <%= render @plan %>
<% elsif @pitch.blank? && !@itinerary.has_winner_pitch? %>
<% set_page_title(@itinerary.extra_info[:name].blank? ? "Submit a pitch for a trip to " + @itinerary.destination + " - OutTrippin" : "Submit a pitch for '" + @itinerary.extra_info[:name] + "' - OutTrippin") %>
<style>
.cover { background-image: none; height:300px; }
#overlay {height:300px;}
.header {top:80px; overflow: visible;}
.tabs {top:240px;}
</style>
<div class="row">
  <div class="small-12 small-centered columns">
     <%= render 'expertsteps', expert_step: 'Submit a pitch', disable: %w() %>
    <div class="large-8 large-centered small-12 columns">
      <h2 style="margin-top:20px;" class="white">Submit a pitch <a href="#" data-dropdown="submitpitchd" data-options="is_hover:true"><%= image_tag 'question-w.png', style: "width:15px; margin-top:-30px;" %></a></h2>  
    </div>
    <div id="submitpitchd" class="f-dropdown medium content" data-dropdown-content>
      <h5>Hi there! Congrats on being selected to pitch this story!</h5>
      <p style="font-size:0.850em;"><strong>How it works:</strong>
      First step is to put in a fantastic pitch. If the requestor picks you as their favorite, you'll have the opportunity to write the full story. Cool?  Hit the <%= image_tag 'submit-a-pitch.png', style: "height:1.5em; margin-top: -0.5em;" %> button below to get started!</p>
      <hr>
      <p>If you're ever have any issues or questions for us at OutTrippin, just hit the <%= image_tag 'question-box.png', style: "height:1.5em; margin-top:-.5em;" %> on the bottom right and we'll get back to you in a flash.</p>
    </div>

  </div>
</div>
</div class="header">
<div class="tabs">
  <div class="row">
    <div class="large-12 large-centered text-center small-12 columns">
      <div class="large-8 large-centered text-center small-12 columns">
        <ul id="cover-tabs" class="inline-list cover-tabs text-center no-margin sans">
          <li><a href="#" id="slide0" class="active-tab">REQUEST & COMMENTS</a></li>
          <% if current_user.is?("admin") %>
          <li><a href="#" id="slide1">ALL PITCHES</a></li>
          <% end %>
        </ul>
        <hr style="border-color:white; margin-top:0;">
      </div>
    </div>
  </div>
</div>
<div class="row" id="slide0-content">
  <div class="large-12 large-centered small-12 columns">
      <%= render 'itineraries/itinerary_full' %>
  </div>
  <div class="written-by">
    <div class="large-12 large-centered small-12 columns">
      <div class="large-8 large-centered small-12 columns">
        <%= render 'itineraries/show/comments' %>
      </div>
    </div>
  </div>
</div>
<% if current_user.is?("admin") %>
  <div id="slide1-content"> 
    <%= render @pitches %>
  </div>
<% end %>
<div class="share break">
  <h4 class="serif subheader"><em><%= link_to "Submit a pitch", new_itinerary_pitch_path(@itinerary), target:"blank", class: "sharethis" %></em></h4>
  <hr style="border: 1px #cccccc solid;margin-top: -30px;z-index: 9;">
</div>
<%= content_for :body do %>
  <script>
   mixpanel.track("Page Loaded", {"page": "Discovery: Story Page"});
  $(".bookmark").click(function() {
    mixpanel.track("Bookmark", {
    "Referred_from": "Story Page"
    });
  });
  $(".unbookmark").click(function() {
    mixpanel.track("Un-Bookmark", {
    "Referred_from": "Story Page"
    });
  });
  mixpanel.track_links(".submit-pitch", "Write a Pitch", {
    "Referred_from": "Story Page top"
  });
  mixpanel.track_links(".sharethis", "Write a Pitch", {
    "Referred_from": "Story Page bottom"
  });

</script>
<% end %>

<% elsif !@pitch.blank? && @pitch.won_by?(current_user) %>
<% set_page_title(@itinerary.extra_info[:name].blank? ? "You've won the 'Trip to " + @itinerary.destination + "' contest! - OutTrippin" : "You've won the '" + @itinerary.extra_info[:name] + "' contest! - OutTrippin") %>
<style>
.cover { background-image: none; height:300px; }
#overlay {height:300px;}
.header {top:80px; overflow: visible;}
.tabs {top:240px;}
</style>
<% content_for :body do %>
<% end %>
<div class="row">
  <div class="small-12 small-centered columns">
     <%= render 'expertsteps', expert_step: 'Winner writes the story', disable: %w() %>
    <div class="large-8 large-centered small-12 columns">
      <h2 style="margin-top:20px;" class="white"><%= image_tag 'trophy.png', style: "height:1em; margin:-10px 15px 0 -55px;" %>You've won! <a href="#" data-dropdown="submitpitchd" data-options="is_hover:true"><%= image_tag 'question-w.png', style: "width:15px; margin-top:-30px;" %></a> </h2>  
    </div>
    <div id="submitpitchd" class="f-dropdown medium content" data-dropdown-content>
      <h5>Woohoo! You've been chosen to write this story!</h5>
       <p style="font-size:0.850em;">
        <strong>What's next?</strong><br>
        - Click <strong>"Write the story"</strong> to get started<br>
        - Add a title, description and photos for each day of the story<br>
        - Include any website links in your description<br>
        - Add a tip or trick for each day of your story<br>
      </p>
      <p style="font-size:0.850em;">
        <strong>Additional tips</strong><br>
        - Save your work as you go<br>
        - Use the discussion space the "Request & comments" tab to ask the traveler any questions  <br>
      </p>
      <hr>
      <p>If you're ever have any issues or questions for us at OutTrippin, just hit the <%= image_tag 'question-box.png', style: "height:1.5em; margin-top:-.5em;" %> on the bottom right and we'll get back to you in a flash.</p>
    </div>

  </div>
</div>
</div class="header">
<div class="tabs">
  <div class="row">
    <div class="large-12 large-centered text-center small-12 columns">
      <div class="large-8 large-centered text-center small-12 columns">
        <ul id="cover-tabs" class="inline-list cover-tabs text-center no-margin sans">
         <li><a href="#" id="slide0" class="active-tab">MY PITCH</a></li>
          <li><a href="#" id="slide1" >REQUEST & COMMENTS</a></li>
          <% if current_user.is?("admin") %>
          <li><a href="#" id="slide2">ALL PITCHES</a></li>
          <% end %>
        </ul>
        <hr style="border-color:white; margin-top:0;">
      </div>
    </div>
  </div>
</div>

<div id="slide0-content">
  <div class="large-12 large-centered small-12 columns">
    <%= render @pitch %>
  </div>
</div>
<div class="row" id="slide1-content">
  <div class="large-12 large-centered small-12 columns">
      <%= render 'itineraries/itinerary_full' %>
  </div>
  <div class="written-by">
    <div class="large-12 large-centered small-12 columns">
      <div class="large-8 large-centered small-12 columns">
        <%= render 'itineraries/show/comments' %>
      </div>
    </div>
  </div>
</div>
<% if current_user.is?("admin") %>
  <div id="slide2-content"> 
    <%= render @pitches %>
  </div>
<% end %>
<div class="share break">
  <h4 class="serif subheader"><em><%=  link_to "Start writing...", itinerary_plan_path(@itinerary), target: "blank", class: "sharethis" %></em></h4>
  <hr style="border: 1px #cccccc solid;margin-top: -30px;z-index: 9;">
</div>

<%= content_for :body do %>
  <script>
    mixpanel.track("Page Loaded", {"page": "Story Page", "Stage": "Won the contest"});
    mixpanel.track_links(".sharethis", "Start Writing", {
      "Button-location": "Bottom"
    });
    mixpanel.track_links("#Start-Story", "Start Writing", {
      "Button-location": "Bottom"
    });
  </script>
<% end %>


<% elsif @itinerary.has_winner_pitch? %>
<% set_page_title(@itinerary.winner_pitch.title.blank? ? "Trip to " + @itinerary.destination + " - OutTrippin" : @itinerary.winner_pitch.title + " - OutTrippin") %>
<% set_page_desc( @itinerary.winner_pitch.summary ) %>
<style>
.cover { background-image: none; height:300px; }
#overlay {height:300px;}
.header {top:80px; overflow: visible;}
.tabs {top:240px;}
</style>
<div class="row">
  <div class="small-12 small-centered columns">
     <%= render 'expertsteps', expert_step: 'Winner writes the story', disable: %w() %>
    <div class="large-8 large-centered small-12 columns">
      <h2 style="margin-top:20px;" class="white">This story request is closed. <a href="#" data-dropdown="submitpitchd" data-options="is_hover:true"><%= image_tag 'question-w.png', style: "width:15px; margin-top:-30px;" %></a></h2>  
    </div>
    <div id="submitpitchd" class="f-dropdown medium content" data-dropdown-content>
      <h5>The traveler has picked their favorite expert.</h5>
      <p style="font-size:0.850em;"><strong>How it works:</strong>
      The traveler has chosen their favorite expert and they are now working on building their personalized travel story. The winning pitch is featured below.</p>
      <hr>
      <p>If you're ever have any issues or questions for us at OutTrippin, just hit the <%= image_tag 'question-box.png', style: "height:1.5em; margin-top:-.5em;" %> on the bottom right and we'll get back to you in a flash.</p>
    </div>

  </div>
</div>
</div class="header">
<div class="tabs">
  <div class="row">
    <div class="large-12 large-centered text-center small-12 columns">
      <div class="large-8 large-centered text-center small-12 columns">
        <ul id="cover-tabs" class="inline-list cover-tabs text-center no-margin sans">
          <li><a href="#" id="slide0" class="active-tab">WINNING PITCH</a></li>
          <li><a href="#" id="slide1" >MY PITCH</a></li>
          <li><a href="#" id="slide2" >REQUEST & COMMENTS</a></li>
          <% if current_user.is?("admin") %>
          <li><a href="#" id="slide3">ALL PITCHES</a></li>
          <% end %>
        </ul>
        <hr style="border-color:white; margin-top:0;">
      </div>
    </div>
  </div>
</div>
<div class="row" id="slide0-content">
  <div class="large-12 large-centered small-12 columns">
    <%= render @itinerary.winner_pitch %>
  </div>
</div>
<div id="slide1-content">
  <%= render @pitch %>
</div>
<div class="row" id="slide2-content">
  <div class="large-12 large-centered small-12 columns">
      <%= render 'itineraries/itinerary_full' %>
  </div>
  <div class="written-by">
    <div class="large-12 large-centered small-12 columns">
      <div class="large-8 large-centered small-12 columns">
        <%= render 'itineraries/show/comments' %>
      </div>
    </div>
  </div>
</div>
<% if current_user.is?("admin") %>
  <div id="slide3-content"> 
    <%= render @pitches %>
  </div>
<% end %>
<div class="share break">
  <h4 class="serif subheader"><em><%= link_to "Browse other stories", itineraries_path, class: "sharethis" %></em></h4>
  <hr style="border: 1px #cccccc solid;margin-top: -30px;z-index: 9;">
</div>
<%= content_for :body do %>
  <script>
    mixpanel.track("Page Loaded", {"page": "Story Page", "Stage": "Lost the contest"});
    mixpanel.track_links(".sharethis", "Browse Other Stories");
  </script>
<% end %>



<% else %>
<style>
.cover { background-image: none; height:300px; }
#overlay {height:300px;}
.header {top:80px; overflow: visible;}
.tabs {top:240px;}
</style>
<% set_page_title(@itinerary.extra_info[:name].blank? ? "You've pitched for a trip to " + @itinerary.destination + " - OutTrippin" : "You've pitched for '" + @itinerary.extra_info[:name] + "' - OutTrippin") %>
<div class="row">
  <div class="small-12 small-centered columns">
     <%= render 'expertsteps', expert_step: 'The requestor picks a winner', disable: %w() %>
    <div class="large-8 large-centered small-12 columns">
      <h2 style="margin-top:20px;" class="white">Success! Your pitch is in. <a href="#" data-dropdown="submitted-pitch-d" data-options="is_hover:true"><%= image_tag 'question-w.png', style: "width:15px; margin-top:-30px;" %></a></h2>  
    </div>
    <div id="submitted-pitch-d" class="f-dropdown medium content" data-dropdown-content>
      <h5>And now we wait...</h5>
      <p style="font-size:0.850em;"><strong>How it works:</strong>
      Your pitch is in and it's looking good. The requesting traveler has been notified that you've submitted a pitch for their story. Travelers have upto a week to decide on whom to pick. We'll keep you notified on it's progress and if the requestor picks you as their favorite, you'll have the chance to write the full story. Exciting times! </p>

      <p>In the mean time, you can edit your pitch by clicking the <%= image_tag 'edit-circle.png', style: "width:20px; margin-top:-4px;" %> button. You can also pitch to other open requests from your <%=link_to "Storyteller's Dashboard", itineraries_path %>.</p>
      <hr>

      <p>If you're ever have any issues or questions for us at OutTrippin, just hit the <%= image_tag 'question-box.png', style: "height:1.5em; margin-top:-.5em;" %> on the bottom right and we'll get back to you in a flash.</p>
    </div>

  </div>
</div>
</div class="header">
<div class="tabs">
  <div class="row">
    <div class="large-12 large-centered text-center small-12 columns">
      <div class="large-8 large-centered text-center small-12 columns">
        <ul id="cover-tabs" class="inline-list cover-tabs text-center no-margin sans">
          <li><a href="#" id="slide0" class="active-tab">WHAT'S NEXT</a></li>
          <li><a href="#" id="slide1" >MY PITCH</a></li>
          <li><a href="#" id="slide2" >REQUEST & COMMENTS</a></li>
          <% if current_user.is?("admin") %>
          <li><a href="#" id="slide3">ALL PITCHES</a></li>
          <% end %>
        </ul>
        <hr style="border-color:white; margin-top:0;">
      </div>
    </div>
  </div>
</div>
<div class="row" id="slide0-content">
  <div class="large-8 large-centered small-12 columns">
    <div data-alert class="alert-box secondary radius text-center">
      <h5>That's some bitchin' pitchin' right there!</h5>
      <p>Your story concept is winging it's way on the back of a digital carrier pigeon to the traveller right now.</p>
    </div>
  </div>
  <div class="large-8 large-centered small-12 columns">
    <div data-alert class="alert-box secondary radius text-center">
      <h5>This week:</h5>
      <p>We give the traveller about a week or so to decide on their favourite pitch. Then we notify you when they make a decision and if they pick you, you write the full story.</p>
    </div>
  </div>

  <div class="large-8 large-centered small-12 columns">
    <div data-alert class="alert-box secondary radius text-center">
      <h5>In the meantime</h5>
      <p>If you have a travel brainwave in the meantime you can come back and edit your pitch by clicking the <%= image_tag "edit-circle.png", style: "width:25px" %> next to your pitch. You can also pitch on other open stories from your <%= link_to "Storyteller Dashboard", itineraries_path %>. 
      </p>
    </div>
  </div>
  <div class="large-8 large-centered small-12 columns">
    <div data-alert class="alert-box secondary radius text-center">
      <h5>Questions?</h5>
      <p>If you've got a question, constructive criticism or just want to tell us a joke, hit the ? button in the bottom right corner.</p>
    </div>
  </div>
</div>
<div id="slide1-content">
  <%= render @pitch %>
</div>
<div class="row" id="slide2-content">
  <div class="large-12 large-centered small-12 columns">
      <%= render 'itineraries/itinerary_full' %>
  </div>
  <div class="written-by">
    <div class="large-12 large-centered small-12 columns">
      <div class="large-8 large-centered small-12 columns">
        <%= render 'itineraries/show/comments' %>
      </div>
    </div>
  </div>
</div>
<% if current_user.is?("admin") %>
  <div id="slide3-content"> 
    <%= render @pitches %>
  </div>
<% end %>

<div class="share break">
  <h4 class="serif subheader"><em><%= link_to "Browse other stories", itineraries_path, class: "sharethis" %></em></h4>
  <hr style="border: 1px #cccccc solid;margin-top: -30px;z-index: 9;">
</div>

<%= content_for :body do %>
  <script>
    mixpanel.track("Page Loaded", {"page": "Story Page", "Stage": "Awaiting Winner"});
    mixpanel.track_links("#Edit-Pitch", "Edit Pitch");
    mixpanel.track_links(".sharethis", "Browse Other Stories");
  </script>
<% end %>

<% end %>