<% full_pitch %>
<% if @pitch.blank? %>
<style>
.cover { background-image: none; height:300px; }
#overlay {height:300px;}
.header {top:80px; overflow: visible;}
.tabs {top:240px;}
</style>
<div class="row">
  <div class="small-12 small-centered columns">
     <%= render 'expertsteps', expert_step: 'Submit a pitch', disable: %w() %>
    <div class="large-8 large-centered small-12 columns">
      <h2 style="margin-top:20px;" class="white">Submit a pitch <a href="#" data-dropdown="hover1" data-options="is_hover:true"><%= image_tag 'question-w.png', style: "width:15px; margin-top:-30px;" %></a></h2>  
    </div>
    <div id="hover1" class="f-dropdown medium content" data-dropdown-content>
      <h5>Hi there! Congrats on being selected to pitch this story!</h5>
      <p style="font-size:0.850em;"><strong>How it works:</strong>
      First step is to put in a baller pitch. If the requestor picks you as their favorite, you'll have the opportunity to write the full story. Cool?  Hit <%= image_tag 'submit-a-pitch.png', style: "height:1.5em; margin-top: -0.5em;" %> to get started!</p>

      <p>If you're ever have any issues or questions for us at OutTrippin, just hit the <%= image_tag 'question-box.png', style: "height:1.5em; margin-top:-.5em;" %> on the bottom right and we'll get back to you in a flash.</p>
    </div>

  </div>
</div>
</div class="header">
<div class="tabs">
  <div class="row">
    <div class="large-12 large-centered text-center small-12 columns">
      <div class="large-8 large-centered text-center small-12 columns">
        <ul id="cover-tabs" class="inline-list cover-tabs text-center no-margin sans">
          <li><a href="#" id="slide0" class="active-tab">TRAVELER'S REQUEST</a></li>
        </ul>
        <hr style="border-color:white; margin-top:0;">
      </div>
    </div>
  </div>
</div>
<div class="row" id="slide0-content">
  <div class="large-12 large-centered small-12 columns">
      <%= render 'itineraries/itinerary_full' %>
  </div>
</div>

<div class="row written-by">
  <div class="large-12 large-centered small-12 columns">
    <div class="large-8 large-centered small-12 columns">
      <p class="sans subheader" style="margin-bottom:15px;"><small>PUBLIC COMMENTS & DISCUSSION</small></p>
      <%= render 'itineraries/show/comments' %>
    </div>
  </div>
</div>
<div class="share break">
  <h4 class="serif subheader"><em><%= link_to "Submit a pitch", new_itinerary_pitch_path(@itinerary), class: "sharethis" %></em></h4>
  <hr style="border: 1px #cccccc solid;margin-top: -30px;z-index: 9;">
</div>
<% elsif @pitch.won_by?(current_user) %>
<div class="row">
  <div class="small-12 small-centered columns">
    <h5 class="white text-center subheader serif"><em><%= image_tag 'trophy.png', style: "height:1.6em; margin:-10px 20px 0;" %>WOOHOO! You've won!<%= image_tag 'trophy.png', style: "height:1.6em; margin:-10px 20px 0;" %></em></h5>
    <h2 class="white text-center"><%= @itinerary.extra_info[:name].blank? ? "Trip to " + @itinerary.destination : @itinerary.extra_info[:name] %></h2>
    <div class="large-1 hide-for-small large-centered columns">
        <hr style="border-color:white;">
      </div>
    <h5 class="white serif subheader text-center"><em>You've been picked by <%= @itinerary.extra_info[:travelers] %> to write their travel story! Click "edit story" to get started.</em></h5>
  </div>
</div>
</div class="header">
<div class="tabs">
  <div class="row">
    <div class="large-11 large-centered text-center small-12 columns">
      <div class="large-8 large-centered text-center small-12 columns">
        <ul id="cover-tabs" class="inline-list cover-tabs text-center no-margin sans">
          <li><a href="#" id="slide0" class="active-tab">THE PITCH</a></li>
          <li><a href="#" id="slide2" >THE REQUEST</a></li>
          <li><%= link_to "EDIT STORY", itinerary_plan_path(@itinerary)%></li>
          <li><a href="#" id="slide1" >COMMENTS</a></li>
        </ul>
        <hr style="border-color:white; margin-top:0;">
      </div>
    </div>
  </div>
</div>
<div class="row" id="slide0-content">
  <div class="large-11 large-centered small-12 columns">
  	<%= render @pitch %>
  </div>
</div>
<div class="row" id="slide2-content">
  <div class="large-11 large-centered small-12 columns">
      <%= render 'itineraries/itinerary_full' %>
  </div>
</div>
<% else %>
<div class="row">
  <div class="small-12 small-centered columns">
    <h2 class="white text-center"><%= @itinerary.extra_info[:name].blank? ? "Trip to " + @itinerary.destination : @itinerary.extra_info[:name] %></h2>
    <div class="large-1 hide-for-small large-centered columns">
        <hr style="border-color:white;">
      </div>
    <h5 class="white serif subheader text-center"><em>Thanks for offering to <%= @itinerary.extra_info[:travelers] %> to help plan their trip! They're checking it out and we'll keep you updated on how it goes. In the meantime, you can still edit your offer if you'd like to.</em></h5>
  </div>
</div>
</div class="header">
<div class="tabs">
  <div class="row">
    <div class="large-11 large-centered text-center small-12 columns">
      <div class="large-8 large-centered text-center small-12 columns">
        <ul id="cover-tabs" class="inline-list cover-tabs text-center no-margin sans">
          <li><a href="#" id="slide0" class="active-tab">THE PITCH</a></li>
          <li><a href="#" id="slide2" >THE REQUEST</a></li>
          <li><a href="#" id="slide1" >COMMENTS</a></li>
        </ul>
        <hr style="border-color:white; margin-top:0;">
      </div>
    </div>
  </div>
</div>
<div class="row" id="slide0-content">
  <div class="large-11 large-centered small-12 columns">
    <%= render @pitch %>
  </div>
</div>
<div class="row" id="slide2-content">
  <div class="large-11 large-centered small-12 columns">
      <%= render 'itineraries/itinerary_full' %>
  </div>
</div>
<% end %>