<% if @itinerary.has_winner_pitch? %>
<div class="row">
  <div class="large-12 text-center small-12 columns">
    <h2 class="white text-center"><%= @itinerary.extra_info[:name].blank? ? "Trip to " + @itinerary.destination : @itinerary.extra_info[:name] %></h2>
   <div class="large-1 hide-for-small large-centered columns">
        <hr class="white">
    </div>
    <h5 class="white subheader serif"><em>You've picked your favorite expert, they are working to plan a trip that's tailored to your personality. Now, you can sit back and let your expert do the heavy lifting. May we suggest some margaritas to celebrate?</em></h5>
  </div>
</div>
</div class="header">
  <div class="row">
    <div class="large-11 large-centered text-center small-12 columns">
      <div class="row tabs">
        <div class="large-8 large-centered text-center small-12 columns">
          <ul class="inline-list text-center no-margin sans">
            <li><a href="#" class="hidePitch active"><small> AT A GLANCE </small></a></li>
            <li><a href="#" class="showPitch"><small> EXPAND ALL </small></a></li>
          </ul>
          <hr class="white" style="margin-top:0;">
        </div>
      </div>
    </div>
  </div>
</div class="cover">
  
<div class="row">
  <div class="large-11 large-centered small-12 columns">
    <%= render @itinerary.winner_pitch %>
  </div>
</div>

  <% elsif !@pitches.blank? %>
<div class="row">
  <div class="large-12 text-center small-12 columns">
    <h6 class="white subheader serif"><em>Step 3 of 4: Pick your favorite expert</em></h6>
    <h2 class="white text-center"><%= @itinerary.extra_info[:name].blank? ? "Trip to " + @itinerary.destination : @itinerary.extra_info[:name] %></h2>
    <div class="large-1 hide-for-small large-centered columns">
      <hr class="white">
    </div>
    <h5 class="white subheader serif"><em><%= @itinerary.pitches.count %> <%= @itinerary.pitches.count > 1 ? "experts have" : "expert has" %> offered to help plan your trip. Who's your favorite?</em><h5>
  </div>
</div>
</div class="header">
<div class="row">
  <div class="large-11 large-centered text-center small-12 columns">
    <div class="row tabs">
      <div class="large-8 large-centered text-center small-12 columns">
        <ul class="inline-list text-center no-margin sans">
          <li><a href="#" class="hidePitch active"><small> AT A GLANCE </small></a></li>
          <li><a href="#" class="showPitch"><small> EXPAND ALL </small></a></li>
        </ul>
        <hr class="white" style="margin-top:0;">
      </div>
    </div>
  </div>
</div>
</div class="cover">

<div class="row">
  <div class="large-11 large-centered small-12 columns">
    <%= render @pitches %>
  </div>
</div>
<% else %>

<div class="row">
  <div class="small-12 small-centered columns">
    <h2 class="white text-center"><%= @itinerary.extra_info[:name].blank? ? "Trip to " + @itinerary.destination : @itinerary.extra_info[:name] %></h2>
    <div class="large-1 hide-for-small large-centered columns">
        <hr class="white">
      </div>
    <h5 class="white serif subheader text-center"><em>Woo hoo! Your dream trip is one step closer. So, what happens next?</em></h5>
  </div>
</div>
</div class="header">
<div class="tabs"></div>
</div class="cover">

<div class="row">
  <div class="large-8 large-centered small-12 columns">
    <div data-alert class="alert-box secondary radius text-center">
      <h5>Today:</h5>
      <p>You'll receive an OutTrippin confirmation email outlining your trip details. We are matching you with the relevant travel experts and they have 3 days to apply to design your trip.</p>
    </div>
  </div>
  <div class="large-8 large-centered small-12 columns">
    <div data-alert class="alert-box secondary radius text-center">
      <h5>Applications will remain open for 3 days:</h5>
      <p>Once applications are closed, you'll have three days to pick your favorite expert.</p>
    </div>
  </div>

  <% unless @itinerary.paid %>
  <div class="large-8 large-centered small-12 columns">
    <div data-alert class="alert-box secondary radius text-center">
      <h5>And then?</h5>
      <p>Once you've chosen your favorite expert, you can proceed to checkout and pay the trip planning fee ($10 per vacation day) for the expert. Once you've done so, you can freely work with them to design your dream trip, tailored to your personality. :)
      </div>
    </div>
    <div class="large-8 large-centered small-12 columns">
      <div data-alert class="alert-box secondary radius text-center">
        <h5>Get the best experts!</h4>
          <p>A guaranteed fee attracts more experts to your trip. And remember, OutTrippin offers a 100% money back guarantee if you're not happy with the advice you've received.</p>
          <%= link_to "Guarantee Fee", checkout_itinerary_path, class: "radius button" %>
        </div>
      </div>
    <% end %>
    </div>
<% end %>