<div id='overlay'></div>
<div id='map'></div>

<div class="row">
  <div class="large-5 small-12 text-center login large-centered columns">

      <%= image_tag 'o-color.png', style: "margin-bottom:10%; width:30%;" %>
      <div class="row">
        <div class="large-12 small-12 columns">
          <%= form_for @user_session do |f| %>
          <%= f.text_field :email, placeholder: "Email" %>
          <%= errors_for(@user_session, :email) %>

          <%= f.password_field :password, placeholder: "Password" %>
          <%= errors_for(@user_session, :password) %>

          <%= f.hidden_field @redir_key, value: @redir_value, name: "#{@redir_key}" %>

          <%= f.submit "Go", class: "button radius expand" %>
          <% end %>
          <a href="/" class="sans">&#8592 Back </a> | <%= link_to "Lost your password?", new_password_reset_path, class: "sans" %>
        </div>
    </div>
  </div>
</div>


<% content_for :head do %>
<style>
  .top-bar {display:none;}
  .top-logo, .top-ot {display:none;}
  footer {display:none;}
</style>
<%= stylesheet_link_tag "experts", media: "all", "data-turbolinks-track" => true %>
<script src='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
<link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
<!--[if lte IE 8]>
<link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' >
<![endif]-->
<% end %>


<% content_for :body do %>
<script type='text/javascript'>
var map = L.mapbox.map('map', 'jvalente.map-2usavnxz');
map.touchZoom.disable()
map.doubleClickZoom.disable();
map.scrollWheelZoom.disable();
</script>
<% end %>