<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= content_for?(:title) ? yield(:title) : "Tailored travel planning and expert travel advice, on tap - OutTrippin" %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag "new_application", media: "all" %>
  <%= yield :css %>

  <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
  <%= render 'tools/mixpanel' %>

  <%= yield :head_js %>

</head>
<body>
  <!--[if lt IE 8]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

    <!-- Add your site or application content here -->
    <%= render 'layouts/parts/navbar' %>

    <%= yield %>

    <%= yield :body_html %>

    <%= yield :body_css %>

    <%= javascript_include_tag "vendor/custom.modernizr" %>

    <script src="https://use.typekit.net/rpy6inf.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script async src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
    <%= javascript_include_tag "new_application" %>
    <%= yield :body_js %>

    <%= render 'tools/ga' %>
</body>
</html>
