<div class="row">
  <div class="large-10 large-centered columns">
    <%= form_for @expert_registration, url: expert_path, html: { class: 'custom' } do |f| %>

    <div class="row">
      <div class="large-6 columns">
        <%= f.fields_for :personal_info do |personal| %>
        <%= personal.label :name, "Your Name" %>
        <%= personal.text_field :name, value: (@expert_registration.personal_info.blank? ? "" : @expert_registration.personal_info[:name]) %>
        <% end %>
      </div>
      <div class="large-6 columns">
        <%= f.label :email, "Email *" %>
        <%= f.text_field :email %>
        <%= errors_for(:email) %>
      </div>
    </div>

    <%= f.fields_for :expert_info do |expert| %>
    <div class="row">
      <div class="large-6 columns">
        <%= expert.label :hometown %>
        <%= expert.text_field :hometown, value: (@expert_registration.expert_info.blank? ? "" : @expert_registration.expert_info[:hometown]), class: "location-autocomplete" %>
      </div>
      <div class="large-6 columns">
        <%= expert.label :current_location, "Current Location" %>
        <%= expert.text_field :current_location, value: (@expert_registration.expert_info.blank? ? "" : @expert_registration.expert_info[:current_location]), class: "location-autocomplete" %>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <%= expert.label :bio, "A short travel bio about yourself" %>
        <%= expert.text_area :bio, value: (@expert_registration.expert_info.blank? ? "" : @expert_registration.expert_info[:bio]), class: 'medium-textarea' %>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <%= expert.label :style, "What is your style of travel?" %>
        <%= expert.fields_for :style do |styles| %>
          <ul class="small-block-grid-2 large-block-grid-3">
            <% @styles.each do |k,v| %>
              <li><%= styles.check_box k, { checked: (@expert_registration.expert_info.blank? ? false : (@expert_registration.expert_info[:style].include?(k))) } %><%= k %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <%= expert.label :website, "Your Website" %>
        <%= expert.text_field :website, value: (@expert_registration.expert_info.blank? ? "" : @expert_registration.expert_info[:website]) %>
      </div>
      <div class="large-6 columns">
        <%= expert.label :instagram, "Instagram" %>
        <%= expert.text_field :instagram, value: (@expert_registration.expert_info.blank? ? "" : @expert_registration.expert_info[:instagram]) %>
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <%= expert.label :facebook, "Facebook Page" %>
        <%= expert.text_field :facebook, value: (@expert_registration.expert_info.blank? ? "" : @expert_registration.expert_info[:facebook]) %>

      </div>
      <div class="large-6 columns">
        <%= expert.label :twitter, "Twitter Handle" %>
        <%= expert.text_field :twitter, value: (@expert_registration.expert_info.blank? ? "" : @expert_registration.expert_info[:twitter]) %>
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <%= expert.label :countries, "List your specialty countries" %>
      </div>
      <div class="large-6 columns">
        <%= expert.label :cities, "List your speciality cities" %>
      </div>
    </div>


    <div class="row">
      <div class="large-6 columns">
        <ul class="expert_registration_expert_info_countries">
          <% unless @expert_registration.expert_info.blank? %>
            <% @expert_registration.expert_info[:countries].each do |c| %>
            <li><%= c %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="large-6 columns">
        <ul class="expert_registration_expert_info_cities">
          <% unless @expert_registration.expert_info.blank? %>
            <% @expert_registration.expert_info[:cities].each do |c| %>
            <li><%= c %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <%= expert.text_field :countries, class: "location-autocomplete add-to-list" %>
      </div>
      <div class="large-6 columns">
        <%= expert.text_field :cities, class: "location-autocomplete add-to-list" %>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <%= expert.label :story, "Include a favorite travel memory" %>
        <%= expert.text_area :story, value: (@expert_registration.expert_info.blank? ? "" : @expert_registration.expert_info[:story]), class: 'medium-textarea' %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <%= f.label :password, "Create Password *" %>
        <%= f.password_field :password %>
        <%= errors_for(:password) %>
      </div>
      <div class="large-6 columns">
        <%= f.label :password_confirmation, "Confirm Password *" %>
        <%= f.password_field :password_confirmation %>
        <%= errors_for(:password_confirmation) %>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <%= f.submit "Sign up", class: "button" %>
      </div>
    </div>

    <% end %>
  </div>
</div>

<%= content_for :head do %>
<script src="http://maps.googleapis.com/maps/api/js?libraries=places&amp;sensor=false"></script>
<% end %>