<div class="row">
  <div class="large-10 large-centered columns">
    <%= form_for object, url: url, method: method, html: { class: 'custom' } do |f| %>

    <div class="row">
      <div class="large-6 columns">
        <%= f.label :name, "Your Name *" %>
        <%= f.text_field :name, placeholder: "Indiana June" %>
        <%= errors_for(object, :name) %>

      </div>
      <div class="large-6 columns">
        <%= f.label :email, "Email *" %>
        <%= f.text_field :email, placeholder: "indi@outtrippin.com", value: object.email %>
        <%= errors_for(object, :email) %>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <%= f.label :hometown %>
        <%= f.text_field :hometown, class: "location-autocomplete" %>
      </div>
      <div class="large-6 columns">
        <%= f.label :current_location, "Current Location" %>
        <%= f.text_field :current_location, class: "location-autocomplete" %>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <%= f.label :bio, "A short travel bio about yourself" %>
        <%= f.text_area :bio, class: 'medium-textarea', placeholder: "eg: Indiana June is the main character in a real-life Pick-A-Path Adventure story. She cycles the globe, letting people vote what she does and where she goes next and writes stories about the places and faces she meets along the way." %>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <% if object.errors[:style].empty? %>
        <%= f.label :style, "What is your style of travel? *" %>
        <% else %>
        <%= f.label :style, "What is your style of travel? (#{object.errors[:style][0]})" %>
        <% end %>
        <%= f.fields_for :style do |styles| %>
          <ul class="small-block-grid-1 large-block-grid-3">
            <% @styles.each do |k,v| %>
              <li><%= styles.check_box k, checked: (object.style.blank? ? false : (object.style.include?(k) ? true : false)) %><%= styles.label k, class: "cbox" %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <%= f.label :website, "Your Website *" %>
        <%= f.text_field :website, placeholder: "indianajune.com" %>
        <%= errors_for(object, :website) %>
      </div>
      <div class="large-6 columns">
        <%= f.label :instagram, "Instagram" %>
        <%= f.text_field :instagram, placeholder: "indiana_june" %>
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <%= f.label :facebook, "Facebook Page" %>
        <%= f.text_field :facebook, placeholder: "www.facebook.com/followindianajune" %>

      </div>
      <div class="large-6 columns">
        <%= f.label :twitter, "Twitter Handle" %>
        <%= f.text_field :twitter, placeholder: "@indiana_june" %>
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <%= f.label :countries, "List your specialty countries *" %>
        <%= f.text_field :countries, value: "", class: "location-autocomplete add-to-list" %>
        <%= errors_for(object, :countries) %>
        <ul class="inline-list sans expert_<%= edit ? "edit" : "registration" %>_countries">
          <% unless object.countries.blank? %>
            <% object.countries.each do |c| %>
            <li><%= c %><a class="delete" href="#"></a></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="large-6 columns">
        <%= f.label :cities, "List your speciality cities *" %>
        <%= f.text_field :cities, value: "", class: "location-autocomplete add-to-list" %>
        <%= errors_for(object, :cities) %>
        <ul class="inline-list sans expert_<%= edit ? "edit" : "registration" %>_cities">
          <% unless object.cities.blank? %>
            <% object.cities.each do |c| %>
            <li><%= c %><a class="delete" href="#"></a></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <%= f.label :story, "Include a favorite travel memory" %>
        <%= f.text_area :story, class: 'medium-textarea', placeholder: "eg: I'll never forget the time I ate my first Portuguese tart from a tiny bakery in Belém. It was so amazing I bought 8 more! ...or... I climbed Mt Sinai in Egypt in the dark and watched the sun come up from the peak of the mountain." %>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <%= f.label :travel_hack, "Best travel hack" %>
        <%= f.text_area :travel_hack, class: 'medium-textarea', placeholder: "eg: Most museums have special discount times or free nights. Before I visit, I look on their website to find out if they offer free visiting hours." %>
      </div>
    </div>

    <% unless edit %>
      <div class="row">
        <div class="large-6 columns">
          <%= f.label :password, "Create Password *" %>
          <%= f.password_field :password, placeholder: "Your password" %>
          <%= errors_for(object, :password) %>
        </div>
        <div class="large-6 columns">
          <%= f.label :password_confirmation, "Confirm Password *" %>
          <%= f.password_field :password_confirmation, placeholder: "Your password again" %>
          <%= errors_for(object, :password_confirmation) %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= f.label :avatar, "Add a profile picture" %>
          <%= f.file_field :avatar, class: "inline" %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= f.label :terms_of_use, "Terms of use *" %>
          <%= f.check_box :terms_of_use %><span>I agree to the <%= link_to "terms of use.", page_path('terms_of_use'), target: "_blank" %></span>
        </div>
      </div>
    <% end %>
    <br />
    <br />

    <div class="row">
      <div class="large-12 small-12 columns">
        <%= f.submit (edit ? "Update Profile" : "Sign up"), class: "button radius " %>
        <%= link_to "or cancel", user_path, class: "secondary small button radius " if edit %>
      </div>
    <% end %>
    </div>
  </div>
</div>

<%= content_for :head do %>
<script src="http://maps.googleapis.com/maps/api/js?libraries=places&amp;sensor=false"></script>
<% end %>