<% set_page_title("Become an OutTrippin Storyteller - OutTrippin") %>
<div class="row top">
  <div class="large-10 small-12 large-centered columns">
    <h2 class="primary">Become an OutTrippin expert</h2>
  </div>
</div>

<div class="row">
  <div class="large-10 small-12 large-centered columns">
    <div class="row">
      <div class="large-9 small-12 columns">

        <% if @expert_registration.errors.any? %>
          <p style="margin-bottom:0px"><strong>Whoopsies! <u>We were unable to process your registration</u>. Please make sure you've filled in all the required fields below.</strong></p>
          <p class="subheader right" style="margin-top:15px;"><em><strong>Indi Tansey</strong><br/>OutTrippin Zookeeper</em></p>
        <% else %>
          <p style="margin-bottom:0px"><em>Hi there! Thanks for your interest in becoming a super-duper OutTrippin expert. This form helps me get to know your special talents and favorite destinations so I can match you to the trips and stories you're most interested in creating. Once you've completed the form I'll be in touch. Got a question? Drop me a line at indi@outtrippin.com.</em></p>
          <p class="subheader right" style="margin-top:15px;"><em><strong>Indi Tansey</strong><br>OutTrippin Zookeper</em></p>
        <% end %>
      </div>
      <div class="large-3 hide-for-small columns">
        <%= image_tag 'indi-cheetah.jpg', class: "rounded" %>
      </div>
    </div>
  </div>
</div>

<%= render 'form', object: @expert_registration, url: expert_path, method: :post, edit: false %>

<%= content_for :head do %>
  <%= stylesheet_link_tag "experts_registration", media: "all", "data-turbolinks-track" => true %>
<% end %>

<%= content_for :body do %>
  <script>
  <% if current_user %>
    mixpanel.alias("<%= current_user.email %>");
    mixpanel.people.set({
        "Name": "<%= current_user.personal_info[:name] %>",
        "Roles": "<%= current_user.roles.join(', ') %>",
        "$email": "<%= current_user.email %>"
    });
  <% end %>
  mixpanel.track("Page Loaded", {"page": "Expert Registration"});
  mixpanel.track_forms("#new_expert_registration", "Expert Registered");
</script>
<% end %>